<mat-tab-group>
  <mat-tab [label]="'Communities'">
    <div class="margin">
      <h2>Communities</h2>
      <!-- Add community management buttons here -->
      <button mat-button (click)="logRecords()">Log Communities</button>
      <button mat-button (click)="deleteRegistries()">Delete Communities</button>
      <button mat-button (click)="fillRegistries()">Populate Communities</button>
    </div>
  </mat-tab>

  <mat-tab [label]="'Registries'">
    <div class="margin">
      <h2>Admins</h2>
      <!-- Submitted an issue to add support to delegate role assignment: -->
      <!-- https://github.com/TBD54566975/dwn-server/issues/174 -->
      <!-- <button mat-button (click)="givePermission('did:dht:mo7am9cz6qrjwoc4kapffeue9kjw6igdh9dmqd3ywdif6qa7ju4o')">
        Give Role to Single
      </button> -->
      <button mat-button (click)="logRecords()">Log Records</button>
      <button mat-button (click)="deleteRegistries()">Delete Registries</button>
      <button mat-button (click)="fillRegistries()">Populate Registries</button>
    </div>

    <div class="margin">
      <h2>Owners</h2>
      <button mat-button (click)="logPermissions()">Show Roles</button>
      <button mat-button (click)="givePermissions()">Give Roles to Admins</button>

      @if (roles() && roles().length > 0) {
      <h3>User's with roles:</h3>
      @for(role of roles(); track role) {
      <div>{{ role }}</div>
      } }
    </div>
  </mat-tab>

  <mat-tab [label]="'Payments'">
    <div class="margin">
      <h2>Payments</h2>
      <mat-form-field appearance="fill">
        <mat-label>API Key</mat-label>
        <input matInput (input)="handleApiKeyChange($event)" placeholder="Enter API Key" />
      </mat-form-field>
      <button mat-button (click)="refreshPayments()">
        <mat-icon>refresh</mat-icon>
        Refresh Payments
      </button>

      @if (isLoadingPayments()) {
      <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
      } @if (payments() && payments().length > 0) {
      <table mat-table [dataSource]="payments()" class="mat-elevation-z8">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let payment">{{ payment.id }}</td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let payment">{{ payment.amount }}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let payment">{{ payment.status }}</td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let payment">{{ payment.createdAt | date }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['id', 'amount', 'status', 'date']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id', 'amount', 'status', 'date']"></tr>
      </table>
      } @if (!payments() || payments().length === 0) {
      <mat-card>
        <mat-card-content>
          <p>No payments found</p>
        </mat-card-content>
      </mat-card>
      }
    </div>
  </mat-tab>
</mat-tab-group>
