.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // top: 15px;
  // left: 15px;
  // right: 15px;
  // bottom: 15px;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: var(--mat-app-text-color); /* Light grey background on hover */
  color: var(--mat-app-background-color); /* Text color on hover */
}

.app-card-image {
  background-color: white;
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
}

.app-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-card-content {
  flex-grow: 1;
}

.app-card-footer {
  display: flex;
  justify-content: flex-start;
}

.full-width-actions {
  width: 100%;
  display: flex;
}

.full-width-button {
  flex-grow: 1;
}
