img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1em;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // top: 15px;
  // left: 15px;
  // right: 15px;
  // bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
