<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">person</mat-icon>
      <span class="hide-small">Friends</span>
    </ng-template>

    <div class="container responsive-grid">
      @for(request of friends; track request) {
      <app-profile-card [did]="request.data.did!">
        <button mat-flat-button [routerLink]="['/profile', request.data.did]">VIEW</button>
        <button mat-button [routerLink]="['/app', 'chat', request.data.did]">MESSAGE</button>
      </app-profile-card>
      } @empty { No friends yet, don't fret. <br /><br />Find some friends in real life or online, get their unique
      identifier or scan their QR code! }
    </div>

    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item>
        <mat-icon>favorite</mat-icon>
        <span>Favorite</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>person_remove</mat-icon>
        <span>Unfriend</span>
      </button>
    </mat-menu>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">person_add</mat-icon>
      <span class="hide-small" [matBadge]="requests.length" matBadgeOverlap="false">Requests&nbsp;</span>
    </ng-template>

    <div class="container responsive-grid">
      @for(entry of requests; track entry) {
      <app-request [entry]="entry"></app-request>
      } @empty { No requests found. }
    </div>
  </mat-tab>
</mat-tab-group>
