.toolbox {
  display: flex;
  gap: 1em;
  align-items: baseline;
}

.toolbox-left {
  flex-grow: 2;
}

.toolbox-right {
  flex-grow: 1;
}

.search-input {
  width: 100%;
}

.container {
  padding: 24px;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
}

mat-card-actions button {
  margin-right: 0.2em;
}

.mat-badge {
  margin-left: 0.5em;
  border-color: 2px solid red;
}
