<mat-tab-group>
  <mat-tab>
    <!-- <ng-template mat-tab-label>
      <mat-icon class="tab-icon">person</mat-icon>
      <span class="hide-small">Friends</span>
    </ng-template> -->

    <ng-template mat-tab-label>
      <div class="tab-header-content">
        <div class="tab-title">
          <mat-icon class="tab-icon">person</mat-icon>
          <span class="hide-small">Friends</span>
        </div>
      </div>
    </ng-template>

    <div class="app-toolbar">
      <!-- <mat-card class="toolbar-actions margin-bottom margin"> -->
      <div class="flex">
        <span class="toolbar-spacer">
          <input type="search" class="search-input" placeholder="Filter friends" />
        </span>
        <mat-button-toggle-group hideSingleSelectionIndicator="true" [(ngModel)]="viewMode">
          <mat-button-toggle value="list">
            <mat-icon>view_list</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="thumbnail">
            <mat-icon>grid_view</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <!-- </mat-card> -->
    </div>

    @if (viewMode() === 'list') {
    <mat-list>
      <!-- <div mat-subheader>Folders</div> -->
      @for (folder of friends; track folder) {
      <mat-list-item class="friend-list-item">
        <img
          [routerLink]="['/profile', folder.data.did]"
          matListItemIcon
          [src]="folder.avatar | safeResourceUrl"
          onerror="this.src='/avatar-placeholder.png';this.onerror='';"
          alt="Avatar"
          class="avatar-icon"
        />
        <div matListItemContent>
          <div matLine [routerLink]="['/profile', folder.data.did]">
            {{ folder.profile?.profile?.name }}
            @if (folder.profile?.profile?.title) { ({{ folder.profile?.profile?.title }}) }
          </div>
        </div>
        <div matListItemMeta>
          <button mat-icon-button [matMenuTriggerFor]="menuProfile">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <mat-menu #menuProfile="matMenu">
          <button mat-menu-item [routerLink]="['/profile', folder.data.did]">
            <mat-icon>account_circle</mat-icon>
            <span>View Profile</span>
          </button>
          <mat-divider></mat-divider>

          <button mat-menu-item [routerLink]="['/app', 'chat', folder.data.did]">
            <mat-icon>chat_bubble</mat-icon>
            <span>Message</span>
          </button>
        </mat-menu>
      </mat-list-item>
      }
    </mat-list>

    } @else {

    <div class="container responsive-grid">
      @for(request of friends; track request) {
      <app-profile-card [did]="request.data.did!">
        <button mat-flat-button [routerLink]="['/profile', request.data.did]">VIEW</button>
        <button mat-button [routerLink]="['/app', 'chat', request.data.did]">MESSAGE</button>
      </app-profile-card>
      } @empty {
      <div class="empty-list">
        <strong>No friends yet</strong>, don't fret.<br /><br />Find some friends in real life or online, get their
        unique identifier or scan their QR code! <br /><br />
        Check out this
        <a [routerLink]="['/profile', 'did:dht:wfcf3guhgb183rbfx5r4a5u3kh9tgjnmdp75xdphyj6wbaxxym7o']"
          >profile of Sondre</a
        >.
      </div>
      }
    </div>

    }

    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item>
        <mat-icon>favorite</mat-icon>
        <span>Favorite</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>person_remove</mat-icon>
        <span>Unfriend</span>
      </button>
    </mat-menu>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">person_add</mat-icon>
      <span class="hide-small" [matBadge]="requests.length" matBadgeOverlap="false">Requests&nbsp;</span>
    </ng-template>

    <div class="container responsive-grid">
      @for(entry of requests; track entry) {
      <app-request [entry]="entry"></app-request>
      } @empty { No requests found. }
    </div>
  </mat-tab>
</mat-tab-group>
