<mat-card class="marketplace-category" [routerLink]="['/marketplace']">
  <mat-card-content>
    <mat-icon class="large-icon">chair</mat-icon>
  </mat-card-content>
  <mat-card-footer>Square</mat-card-footer>
</mat-card>

<mat-card class="marketplace-category" [routerLink]="['/marketplace']">
  <mat-card-content>
    <mat-icon class="large-icon">directions_car</mat-icon>
  </mat-card-content>
  <mat-card-footer>Vehicles</mat-card-footer>
</mat-card>

<mat-card class="marketplace-category" [routerLink]="['/marketplace']">
  <mat-card-content>
    <mat-icon class="large-icon">two_wheeler</mat-icon>
  </mat-card-content>
  <mat-card-footer>Motorcycle</mat-card-footer>
</mat-card>
