<div class="about centered">
  <h1>About Ariton</h1>

  <img class="about-logo" src="ariton-icon-dark.svg" />

  <p>
    Version: {{ appService.package.version }}<br />
    @if(bundleHash) { Bundle: {{ bundleHash }}<br />
    } by Ariton Team
  </p>

  <p>Non-Custodial Community App in your browser.</p>
  <p>This app is free and open-source software.</p>
  <p>Made with ❤</p>
  <p><a [href]="'https://ariton.app'" target="_blank">https://ariton.app</a></p>

  <p>&nbsp;</p>

  <mat-card>
    <mat-card-content>
      <em>
        “Unlike the communities traditionally associated with the word 'anarchy', in a crypto-anarchy the government is
        not temporarily destroyed but permanently forbidden and permanently unnecessary. It's a community where the
        threat of violence is impotent because violence is impossible, and violence is impossible because its
        participants cannot be linked to their true names or physical locations.” - Wei Dai 1998
      </em>
    </mat-card-content>
  </mat-card>

  <h2>Packages</h2>

  <p>
    We a proponents of openess and think it can help improve security and privacy, so here are the packages we use in
    this app:
  </p>

  <div class="packages">
    @for (package of appService.dependencies; track package) {
    <span class="package">{{ package.name }} ({{ package.version }})</span>
    }
  </div>
</div>
