<div class="chat-container">
  <div class="left-panel">
    <mat-toolbar>
      <span class="toolbar-spacer">
        <input type="search" class="search-input" placeholder="Filter chats" />
      </span>
      <button mat-icon-button matTooltip="New chat">
        <mat-icon>add_comment</mat-icon>
      </button>
    </mat-toolbar>

    <div class="panel-content">
      <a class="chat-link">
        <div>
          <img class="chat-icon" src="https://ariton.app/assets/sondre.png" />
        </div>
        <div class="chat-details">
          <div class="chat-info">
            <div class="chat-info-name">John Doe</div>
            <div class="chat-time">18:20</div>
          </div>
          <div class="chat-text">How have you been my friend?</div>
        </div>
      </a>
      <a class="chat-link"><img class="chat-icon" src="https://ariton.app/assets/dan.png" /></a>
      <a class="chat-link"><img class="chat-icon" src="https://ariton.app/assets/david.jpg" /></a>
      <a class="chat-link"><img class="chat-icon" src="https://ariton.app/assets/milad.png" /></a>
      <a class="chat-link"><img class="chat-icon" src="https://ariton.app/assets/lu.jpg" /></a>
      <a class="chat-link"><img class="chat-icon" src="https://ariton.app/assets/kosta.jpg" /></a>

      Chat History Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt atque non voluptatum aperiam
      doloribus expedita dolorem odit? Fugit similique consectetur earum rem? Voluptatem est, voluptatum unde ipsam
      itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt atque non voluptatum
      aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum rem? Voluptatem est, voluptatum unde
      ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt atque non
      voluptatum aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum rem? Voluptatem est,
      voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt
      atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum rem? Voluptatem
      est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Deserunt atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum rem?
      Voluptatem est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing
      elit. Deserunt atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum
      rem? Voluptatem est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Deserunt atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit similique
      consectetur earum rem? Voluptatem est, voluptatum unde ipsam itaque dolores quisquam?
    </div>
  </div>
  <div class="middle-panel">
    <mat-toolbar>
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <span>John Doe</span>
      <span class="toolbar-spacer"></span>
      <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button> -->
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
      <button mat-icon-button (click)="toggleDetails()">
        <mat-icon>view_sidebar</mat-icon>
      </button>
    </mat-toolbar>

    <div class="panel-content panel-content-messages">
      Chat Messages Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt atque non voluptatum aperiam
      doloribus expedita dolorem odit? Fugit similique consectetur earum rem? Voluptatem est, voluptatum unde ipsam
      itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt atque non voluptatum
      aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum rem? Voluptatem est, voluptatum unde
      ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt atque non
      voluptatum aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum rem? Voluptatem est,
      voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt
      atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum rem? Voluptatem
      est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Deserunt atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum rem?
      Voluptatem est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing
      elit. Deserunt atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum
      rem? Voluptatem est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Deserunt atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit similique
      consectetur earum rem? Voluptatem est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet
      consectetur, adipisicing elit. Deserunt atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit
      similique consectetur earum rem? Voluptatem est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor
      sit amet consectetur, adipisicing elit. Deserunt atque non voluptatum aperiam doloribus expedita dolorem odit?
      Fugit similique consectetur earum rem? Voluptatem est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum
      dolor sit amet consectetur, adipisicing elit. Deserunt atque non voluptatum aperiam doloribus expedita dolorem
      odit? Fugit similique consectetur earum rem? Voluptatem est, voluptatum unde ipsam itaque dolores quisquam? Lorem
      ipsum dolor sit amet consectetur, adipisicing elit. Deserunt atque non voluptatum aperiam doloribus expedita
      dolorem odit? Fugit similique consectetur earum rem? Voluptatem est, voluptatum unde ipsam itaque dolores
      quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt atque non voluptatum aperiam
      doloribus expedita dolorem odit? Fugit similique consectetur earum rem? Voluptatem est, voluptatum unde ipsam
      itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt atque non voluptatum
      aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum rem? Voluptatem est, voluptatum unde
      ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt atque non
      voluptatum aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum rem? Voluptatem est,
      voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt
      atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum rem? Voluptatem
      est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Deserunt atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum rem?
      Voluptatem est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing
      elit. Deserunt atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum
      rem? Voluptatem est, voluptatum unde ipsam itaque dolores quisquam?
    </div>

    <div class="chat-input">
      <button class="chat-action" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>add_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>attach_money</mat-icon>
          <span>Send money</span>
        </button>
        <button mat-menu-item>
          <mat-icon>video_camera_back</mat-icon>
          <span>Capture video</span>
        </button>
        <button mat-menu-item>
          <mat-icon>photo_camera_front</mat-icon>
          <span>Capture photo</span>
        </button>
        <button mat-menu-item>
          <mat-icon>attachment</mat-icon>
          <span>Attach a file</span>
        </button>
        <button mat-menu-item>
          <mat-icon>add_a_photo</mat-icon>
          <span>Attach a photo</span>
        </button>
      </mat-menu>

      <mat-form-field subscriptSizing="dynamic" class="chat-message-input">
        <input matInput placeholder="Message..." />
        <mat-icon matSuffix>emoji_emotions</mat-icon>
      </mat-form-field>

      <button class="chat-action" mat-icon-button>
        <mat-icon>thumb_up</mat-icon>
      </button>
    </div>
  </div>
  @if (details()) {
  <div class="right-panel" [ngClass]="{ 'panel-background': detailsBig() }">
    <mat-toolbar>
      <span>User Info</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button (click)="closeDetails()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <div class="panel-content">
      User Profile Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt atque non voluptatum aperiam
      doloribus expedita dolorem odit? Fugit similique consectetur earum rem? Voluptatem est, voluptatum unde ipsam
      itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt atque non voluptatum
      aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum rem? Voluptatem est, voluptatum unde
      ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt atque non
      voluptatum aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum rem? Voluptatem est,
      voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt
      atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum rem? Voluptatem
      est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Deserunt atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum rem?
      Voluptatem est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing
      elit. Deserunt atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum
      rem? Voluptatem est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Deserunt atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit similique
      consectetur earum rem? Voluptatem est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet
      consectetur, adipisicing elit. Deserunt atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit
      similique consectetur earum rem? Voluptatem est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor
      sit amet consectetur, adipisicing elit. Deserunt atque non voluptatum aperiam doloribus expedita dolorem odit?
      Fugit similique consectetur earum rem? Voluptatem est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum
      dolor sit amet consectetur, adipisicing elit. Deserunt atque non voluptatum aperiam doloribus expedita dolorem
      odit? Fugit similique consectetur earum rem? Voluptatem est, voluptatum unde ipsam itaque dolores quisquam? Lorem
      ipsum dolor sit amet consectetur, adipisicing elit. Deserunt atque non voluptatum aperiam doloribus expedita
      dolorem odit? Fugit similique consectetur earum rem? Voluptatem est, voluptatum unde ipsam itaque dolores
      quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt atque non voluptatum aperiam
      doloribus expedita dolorem odit? Fugit similique consectetur earum rem? Voluptatem est, voluptatum unde ipsam
      itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt atque non voluptatum
      aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum rem? Voluptatem est, voluptatum unde
      ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt atque non
      voluptatum aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum rem? Voluptatem est,
      voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt
      atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum rem? Voluptatem
      est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Deserunt atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum rem?
      Voluptatem est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur, adipisicing
      elit. Deserunt atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit similique consectetur earum
      rem? Voluptatem est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Deserunt atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit similique
      consectetur earum rem? Voluptatem est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor sit amet
      consectetur, adipisicing elit. Deserunt atque non voluptatum aperiam doloribus expedita dolorem odit? Fugit
      similique consectetur earum rem? Voluptatem est, voluptatum unde ipsam itaque dolores quisquam? Lorem ipsum dolor
      sit amet consectetur, adipisicing elit. Deserunt atque non voluptatum aperiam doloribus expedita dolorem odit?
      Fugit similique consectetur earum rem? Voluptatem est, voluptatum unde ipsam itaque dolores quisquam?
    </div>
  </div>
  }
</div>
