.container {  
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 64px 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  height: calc(100vh - 64px - 16px);
  width: 100vw;
}

.top { grid-area: 1 / 1 / 2 / 4; }

.body-left { 
  grid-area: 2 / 1 / 3 / 2;
 }

.body-center { 
  grid-area: 2 / 2 / 3 / 3; 
  padding: 16px;
}

.body-right { 
  grid-area: 2 / 3 / 3 / 4;
  padding: 16px;
 }

.column-content2 {
  overflow-y: auto;
}

.favorites {
  grid-column: span 2;
  height: 64px;
}

.favorites-icon {
  border-radius: 50%;
  max-height: 64px;
  margin-right: 0.1em;
  border: 2px solid transparent;
}

.favorites-icon:hover {
  border: 2px solid white;
}


.chat-container {
  border: 1px solid red;
  display: flex;
  gap: 0.5em;
  height: calc(100vh - 64px);
}

.topics {
  max-width: 320px;
  border-right: 2px solid silver;
  overflow-y: scroll;
}

.messages {
  overflow-y: scroll;
}


.toolbox {
  display: flex;
  gap: 1em;
  align-items: baseline;
}

.toolbox-left {
  flex-grow: 2;

}

.toolbox-right {
  flex-grow: 1;
}

.search-input {
  width: 100%
}