<div class="favorites">
    <a><img  class="favorites-icon" src="https://ariton.app/assets/sondre.png"></a>
    <a><img  class="favorites-icon" src="https://ariton.app/assets/dan.png"></a>

    <a><img  class="favorites-icon" src="https://ariton.app/assets/david.jpg"></a>

    <a><img  class="favorites-icon" src="https://ariton.app/assets/milad.png"></a>

    <a><img  class="favorites-icon" src="https://ariton.app/assets/lu.jpg"></a>

    <a><img  class="favorites-icon" src="https://ariton.app/assets/kosta.jpg"></a>

</div>