// :host-context(.sidenav-content) {
//   padding: 0 !important;
// }

// :host {
//   padding: 16px;
//   box-sizing: border-box;
// }

.chat-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 64px - 16px);
}

.left-panel,
.right-panel {
  box-sizing: border-box;
}

.left-panel,
.right-panel,
.chat-content {
  box-sizing: border-box;
  //   overflow: auto;
  //   height: 100%;
}

.panel-content {
  box-sizing: border-box;
  padding: 1em;
  //   overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 64px);
}

.panel-content-messages {
  height: calc(100% - 64px - 64px);
}

.panel-content-chats {
  height: calc(100% - 64px - 64px);
  padding: 0;
}

.chat-action {
  vertical-align: middle !important;
}

// .left-panel .panel-content {
//   overflow-x: hidden;
//   overflow-y: auto;
// }

.left-panel {
  flex: 1;
  max-width: 240px;
}

.middle-panel {
  flex: 2;
}

.right-panel {
  flex: none;
  width: 200px;
}

.chat-icon {
  border-radius: 50%;
  max-height: 48px;
  border: 2px solid transparent;
}

// .chat-icon:hover {
//   border: 2px solid white;
// }

.chat-link {
  display: flex;
  align-items: stretch;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
}

.chat-item {
  text-align: right;
}

.chat-details > div:first-child {
  padding-top: 6px;
  height: 24px;
  //   align-self: flex-start;
}

.chat-details > div:nth-child(2) {
  height: 24px;
  //   align-self: flex-end;
}

.chat-info-name {
  flex: 1 1 auto;
}

.chat-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  padding-left: 0.2em;
}

.chat-info {
  display: flex;
}

.chat-text2 {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Render ellipses when text overflows */
}

.chat-text,
.chat-info-name {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.chat-text {
  font-size: 0.8em;
}

.chat-time {
  padding-right: 0.2em;
}

.router-link-active {
  background-color: var(--mat-option-selected-state-layer-color);
}

@media (max-width: 1024px) {
  .right-panel {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    flex: none;
    z-index: 1000;
  }
}

@media (max-width: 768px) {
  .left-panel {
    flex: none;
    width: 64px;
  }

  //   .right-panel {
  //     display: none;
  //   }

  .left-panel .panel-content {
    padding: 0;
  }

  .chat-details {
    display: none;
  }
}

.chat-input {
  height: 64px;
  max-height: 64px;
  min-height: 64px;
  display: flex;
  align-items: center;
}

.chat-message-input {
  flex-grow: 2;
}

.profile-details {
  font-size: 0.9em;
}

.profile-info-label {
  margin-bottom: 1em;
}
