<h2>Liberstad Land Registry</h2>

<p>
  For property ownership to be formally recognized, it must be voluntarily registered with the Liberstad Land Registry
  (LLR). The LLR facilitates transparency and documentation, ensuring that property rights are clearly defined and
  respected within the community.
</p>

<p>
  Land within The Free City of Liberstad may only be transferred to other members of the community. The Liberstad Land
  Registry (LLR) maintains records of all such transfers, ensuring transparency and clarity regarding property ownership
</p>

<p class="full-width-button">
  <button class="full-size" mat-flat-button [disabled]="true">More info coming soon</button>
</p>
