.toolbar-logo {
  max-height: 54px;
}

.toolbar-items {
}

.account-menu-item {
}

.account-menu-profile {
  color: var(--mat-menu-item-label-text-color);
  display: flex;
  gap: 8px;
  margin: 8px;
  align-items: center;
}

.account-menu-profile h2 {
  margin: 0;
  padding: 0;
}

.account-menu-profile-icon {
  width: 64px;
  border-radius: 50%;
}

.account-menu-profile > div {
  flex-grow: 2;
}

.toolbar-text {
  margin-left: 0.3em;
  margin-top: 0.5em;
  width: 100px;
  height: 32px;
}

.sidenav-container {
  height: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

// mat-sidenav-content {
//   padding-right: 16px;
// }

.sidenav-scroll-wrapper {
  height: calc(100dvh - 64px - 16px);
  overflow: auto;
  border-radius: 16px;
  box-sizing: border-box;
}

.sidenav-content,
.sidenav-content-marginless {
  max-height: 100%;
  overflow-y: auto;
  padding: 16px;
  box-sizing: border-box;
}

.sidenav-content-marginless {
  padding: 0;
}

.column-content {
  overflow-y: scroll;
  box-sizing: border-box;
}

// mat-sidenav {
//   width: 100px;
// }

.sidenav {
  width: 240px;
  padding: 0 8px;
  box-sizing: border-box;
}

.sidenav-collapsed {
  width: 72px;
}

@media (max-width: 959.98px) {
  // mat-sidenav-content {
  //   padding-right: 8px;
  //   padding-left: 8px;
  // }

  .sidenav-scroll-wrapper {
    height: calc(100dvh - 64px);
  }

  .sidenav-content {
    // This create some scrolling issues on smaller screen.
    // overflow-y: visible;
    // padding: 8px;
  }

  .sidenav-content {
    padding: 8px;
  }

  .sidenav-content-marginless {
    padding: 0;
  }
}
