<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{ 'sidenav-collapsed': collapsed() }"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <img class="toolbar-logo" src="ariton-icon-dark.svg" />

      <picture class="toolbar-text">
        <source srcset="ariton-text-light.svg" media="(prefers-color-scheme: dark)" />
        @if (!collapsed()) {
        <img src="ariton-text-dark.svg" />
        }
      </picture>
    </mat-toolbar>
    <mat-nav-list>
      @for (item of rootRoutes; track $index) {
      <a mat-list-item [routerLink]="item.path" #link="routerLinkActive" routerLinkActive [activated]="link.isActive">
        <mat-icon matListItemIcon>{{ item.data!['icon'] }}</mat-icon>
        @if (!collapsed() ){
        {{ item.title }}
        }
      </a>
      }
      <mat-list-item (click)="collapseToggle()">
        @if(collapsed()) {
        <mat-icon matListItemIcon>chevron_right</mat-icon> } @else { <mat-icon matListItemIcon>chevron_left</mat-icon> }
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      } @if(layout.navigation()) {
      <button mat-icon-button (click)="navigateBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      } @for(action of layout.actions(); track action) {
      <button [title]="action.name" mat-icon-button (click)="action.action()">
        <mat-icon>{{ action.icon }}</mat-icon>
      </button>
      }

      <span class="toolbar-spacer">
        @if (layout.search()) {
        <input type="search" class="search-input" [(ngModel)]="layout.searchInput" (input)="onSearchInput($event)" />
        }

        <!-- <mat-form-field class="small-search-input" subscriptSizing="dynamic">
          <input type="search" matInput placeholder="Search" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field> -->
      </span>
      <span class="toolbar-items">
        @if (layout.search()) {

        <!-- <zxing-scanner [start]="true" (scanSuccess)="qrScan($event)"> </zxing-scanner> -->

        <button mat-icon-button (click)="qrScan()">
          <mat-icon>qr_code_scanner</mat-icon>
        </button>
        }

        <button mat-icon-button (click)="layout.toggleSearch()">
          @if (layout.search()) {
          <mat-icon>close</mat-icon>
          } @else {
          <mat-icon>search</mat-icon>
          }
        </button>

        @if (updateService.isNewVersionAvailable) {
        <button matTooltip="Update available. Click to update now." mat-icon-button (click)="applyUpdate()">
          <mat-icon>get_app</mat-icon>
        </button>
        }

        <button mat-icon-button [matMenuTriggerFor]="menuNotifications">
          <mat-icon>notifications</mat-icon>
        </button>
        <mat-menu #menuNotifications="matMenu">
          <button mat-menu-item (click)="wipe()">
            <mat-icon>settings</mat-icon>
            <span>Reset All Data (Wipe)</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item [routerLink]="['/settings']">
            <mat-icon>settings</mat-icon>
            <span>Notification Settings</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item>
            <mat-icon>forum</mat-icon>
            <span>Knitting Community posted new pattern</span>
          </button>
          <button mat-menu-item>
            <mat-icon>face</mat-icon>
            <span>Joe sent you a message</span>
          </button>
          <button mat-menu-item>
            <mat-icon>key</mat-icon>
            <span>New security request</span>
          </button>
          <button mat-menu-item>
            <mat-icon>verified_user</mat-icon>
            <span>Social account recovery request</span>
          </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div class="account-menu-profile">
            <img
              class="account-menu-profile-icon"
              [src]="profileService.avatar() | safeResourceUrl"
              onerror="this.src='/avatar-placeholder.png';this.onerror='';"
            />
            <div>
              <h2>{{ profileService.current().name }}</h2>
              &#64;{{ profileService.current().title }}<br />
              {{ identity.did | did }}<br />
            </div>
          </div>

          <button [routerLink]="['/profile', identity.did]" mat-menu-item class="account-menu-item">
            <mat-icon>account_circle</mat-icon>
            <span>View Profile</span>
          </button>

          <mat-divider></mat-divider>

          <!-- <button mat-menu-item [matMenuTriggerFor]="menuAccounts">
            <mat-icon>switch_account</mat-icon>
            <span>Accounts</span>
          </button> -->

          <button mat-menu-item (click)="lock()">
            <mat-icon>lock</mat-icon>
            <span>Lock account</span>
          </button>

          <mat-divider></mat-divider>
          <button mat-menu-item [matMenuTriggerFor]="menuLanguages">
            <mat-icon>translate</mat-icon>
            <span>Language: English</span>
          </button>
          <mat-divider></mat-divider>
          <button [routerLink]="['/settings']" mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
          <mat-divider></mat-divider>
          <button [routerLink]="['/settings', 'help']" mat-menu-item>
            <mat-icon>help</mat-icon>
            <span>Help</span>
          </button>
        </mat-menu>

        <mat-menu #menuAccounts="matMenu">
          <button [routerLink]="['/accounts']" mat-menu-item>
            <mat-icon>manage_accounts</mat-icon>
            <span>Manage Accounts</span>
          </button>
          <mat-divider></mat-divider>
          <button
            [routerLink]="['/account', 'did:dht:umj7apgmkodtrb7mdpjo4h7xinqdnatzgy38j7wi67k9c7sdns1o']"
            mat-menu-item
          >
            <mat-icon>account_circle</mat-icon>
            <span>Account 1</span>
          </button>
          <button
            [routerLink]="['/account', 'did:dht:umj7apgmkodtrb7mdpjo4h7xinqdnatzgy38j7wi67k9c7sdns1o']"
            mat-menu-item
          >
            <mat-icon>account_circle</mat-icon>
            <span>Account 2</span>
          </button>
          <button
            [routerLink]="['/account', 'did:dht:umj7apgmkodtrb7mdpjo4h7xinqdnatzgy38j7wi67k9c7sdns1o']"
            mat-menu-item
          >
            <mat-icon>account_circle</mat-icon>
            <span>Account 3</span>
          </button>
          <mat-divider></mat-divider>
          <button [routerLink]="['/account/create']" mat-menu-item>
            <mat-icon>person_add</mat-icon>
            <span>Add account</span>
          </button>
        </mat-menu>

        <mat-menu #menuLanguages="matMenu">
          <button mat-menu-item>
            <span>English</span>
          </button>
          <button mat-menu-item [disabled]="true">
            <span>Norwegian</span>
          </button>
          <button mat-menu-item [disabled]="true">
            <span>Serbian</span>
          </button>
        </mat-menu>

        <!--<app-theme-toggle></app-theme-toggle>-->
      </span>
    </mat-toolbar>

    <div class="sidenav-scroll-wrapper">
      <div
        id="sidenav-content"
        [ngClass]="{ 'sidenav-content': layout.margin(), 'sidenav-content-marginless': !layout.margin() }"
      >
        <ng-content></ng-content>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
