.toolbar-logo {
  max-height: 40px;
  max-width: 40px;
  width: 100%;
  cursor: pointer;
}

.toolbar-items {
}

.account-menu-item {
}

.player {
  height: 96px;
}

.account-menu-profile {
  color: var(--mat-menu-item-label-text-color);
  display: flex;
  gap: 8px;
  margin: 8px;
  align-items: center;
  cursor: pointer;
}

.account-menu-profile h2 {
  margin: 0;
  padding: 0;
}

.account-menu-profile-icon {
  width: 64px;
  border-radius: 50%;
}

.toolbar-profile-button {
  padding: 0;
}

.toolbar-profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.account-menu-profile > div {
  flex-grow: 2;
}

.toolbar-text {
  margin-left: 0.3em;
  margin-top: 0.5em;
  width: 100px;
  height: 32px;
}

.sidenav-container {
  height: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

// mat-sidenav-content {
//   padding-right: 16px;
// }

.sidenav-scroll-wrapper {
  height: calc(100dvh - 64px - 16px - env(titlebar-area-height, 0px));
  overflow: auto;
  border-radius: 16px;
  box-sizing: border-box;
}

.sidenav-scroll-wrapper-tray {
  height: calc(100dvh - 64px - 16px - 16px - 96px - env(titlebar-area-height, 0px));
}

.sidenav-content,
.sidenav-content-marginless {
  max-height: 100%;
  overflow-y: auto;
  padding: 16px;
  box-sizing: border-box;
}

.sidenav-content-marginless {
  padding: 0;
}

.sidenav-content-custom {
  height: 100%;
  overflow: hidden !important;
}

.column-content {
  overflow-y: scroll;
  box-sizing: border-box;
}

// mat-sidenav {
//   width: 100px;
// }

.sidenav {
  width: 200px;
  padding: 0 8px;
  box-sizing: border-box;
}

.sidenav-collapsed {
  width: 72px;
}

.notification-details {
}

@media (max-width: 959.98px) {
  // mat-sidenav-content {
  //   padding-right: 8px;
  //   padding-left: 8px;
  // }

  .sidenav-scroll-wrapper {
    height: calc(100dvh - 64px - env(titlebar-area-height, 0px));
  }

  .sidenav-scroll-wrapper-tray {
    height: calc(100dvh - 64px - 96px - env(titlebar-area-height, 0px));
  }

  .sidenav-content {
    // This create some scrolling issues on smaller screen.
    // overflow-y: visible;
    // padding: 8px;
  }

  .sidenav-content {
    padding: 8px;
  }

  .sidenav-content-marginless {
    padding: 0;
  }
}

.notification-menu {
  display: none;
}

@media (max-width: 420px) {
  .notification-toolbar {
    display: none;
  }

  .notification-menu {
    display: flex;
  }
}

.title-bar {
  display: none;
}

// @media (min-height: 601px) {
// }

@media (display-mode: window-controls-overlay) {
  .title-bar {
    -webkit-app-region: drag;
    flex: 0 0 33px;
    display: flex;
    flex-direction: row;
    position: fixed;
    // left: env(titlebar-area-x, 0);
    left: 210px;
    top: env(titlebar-area-y, 0);
    height: env(titlebar-area-height, 33px);
    width: env(titlebar-area-width, 100%);
    width: calc(env(titlebar-area-width, 100%) - 210px);
    z-index: 10000;
  }

  mat-sidenav-content {
    padding-top: env(titlebar-area-height, 0px);
  }
}

// .title-bar {
//   -webkit-app-region: drag;
//   flex: 0 0 33px;
//   display: flex;
//   flex-direction: row;
//   position: fixed;
//   // left: env(titlebar-area-x, 0);
//   left: 210px;
//   top: env(titlebar-area-y, 0);
//   height: env(titlebar-area-height, 33px);
//   width: env(titlebar-area-width, 100%);
//   width: calc(env(titlebar-area-width, 100%) - 210px);
//   z-index: 10000;
// }

.title-bar-collapsed {
  left: 80px !important;
  width: calc(env(titlebar-area-width, 100%) - 80px);
}

.toolbar-logo-container {
  -webkit-app-region: drag;
}

.logo-icon {
  /* justify-content: center; */
  cursor: pointer;
  -webkit-app-region: drag;
  margin-right: 0.4em;
  /* height: 80%; */
}

.logo-icon-title-bar {
  cursor: pointer;
  -webkit-app-region: drag;
  margin: 4px 2em 4px 4px;
  display: none;
  flex: 0 0 24px;
}

@media screen and (max-height: 100px) {
  .logo-icon-title-bar {
    display: inline;
  }

  .logo-icon {
    display: none;
  }

  /** Show the toolbar on left when minimized. */
  .title-bar {
    left: 0px !important;
  }

  /** Hide the sidenavn when window is minimized. */
  .sidenav,
  .main-toolbar,
  mat-sidenav-content {
    display: none !important;
  }
}

@media screen and (max-width: 599px) {
  .logo-icon-title-bar {
    display: inline;
  }
}
