<h1>Settings</h1>

@if (document()?.didDocument?.service) {
<p>
  @for (node of nodes(); track node) {
  <mat-list>
    <div mat-subheader>{{ node.type }}</div>
    @for (endpoint of node.serviceEndpoint; track endpoint) {
    <mat-list-item>
      <mat-icon matListItemIcon>hub</mat-icon>
      <div matListItemTitle>{{ endpoint }}</div>
    </mat-list-item>
    }
  </mat-list>
  }
</p>
}

<br />
Debug: {{ settings().debug }}
<br />
Servers: {{ settings().servers }}
<br />
Language: {{ settings().language }}
<br />
<br />
<button mat-flat-button (click)="toggleDebug()">Toggle debug</button>

<mat-nav-list>
  <div mat-subheader>Other Actions</div>

  <a mat-list-item [routerLink]="['handler']">
    <mat-icon matListItemIcon>search</mat-icon>
    Register Protocol Handler (Web Only)
  </a>
</mat-nav-list>

<mat-nav-list>
  <div mat-subheader>Information</div>

  <a mat-list-item [routerLink]="['about']">
    <mat-icon matListItemIcon>new_releases</mat-icon>
    About
  </a>

  <a mat-list-item [routerLink]="['help']">
    <mat-icon matListItemIcon>help</mat-icon>
    Help
  </a>

  <a mat-list-item [routerLink]="['licenses']">
    <mat-icon matListItemIcon>description</mat-icon>
    Third Party Licenses
  </a>

  <a mat-list-item [routerLink]="['privacy']">
    <mat-icon matListItemIcon>privacy_tip</mat-icon>
    Privacy Policy
  </a>

  <a mat-list-item href="https://ariton.app" target="_blank">
    <mat-icon matListItemIcon>public</mat-icon>
    Ariton Website
  </a>

  <a mat-list-item href="https://github.com/block-core/ariton/releases" target="_blank">
    <mat-icon matListItemIcon>update</mat-icon>
    Release 0.0.1
  </a>

  <a mat-list-item href="https://github.com/block-core/ariton" target="_blank">
    <mat-icon matListItemIcon>code</mat-icon>
    Source Code
  </a>
</mat-nav-list>
