.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.link-input {
  display: flex;
  align-items: baseline;
}

.link-input button {
  margin-left: 0.4em;
}

mat-card-actions button {
  margin-left: 1em;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 500px;
  width: 100%;

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    & > * {
      width: 100%;
      margin-right: 1rem;
    }

    :last-of-type {
      margin-right: 0rem;
    }
  }

  .margin-top {
    margin-top: 3rem;
  }
}
