<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label> <mat-icon class="example-tab-icon">badge</mat-icon>&nbsp; About</ng-template>
    <div class="padding">
      <mat-card>
        <mat-card-content>
          <h1>Known Customer Credentials</h1>
          <p>
            The Known Customer Credentials (KCC) is a decentralized identity system that allows individuals and
            companies to issue credentials to others about what evidence they have about specific identifiers (also
            known as customers).
          </p>
          <p>
            For example, a company may issue a credential to a customer that they have verified the customer's age and
            that it is above 18 years old. Third parties that trust You, or the company, can then verify the credential
            without getting any personal information about the customer themselves.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label> <mat-icon class="example-tab-icon">badge</mat-icon>&nbsp; Permission </ng-template>
    <div class="padding">
      <mat-card>
        <mat-card-content>
          <h1>Ask for Permission</h1>
          <p>To be done: Add a list of available schemas to choose from.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label> <mat-icon class="example-tab-icon">verified</mat-icon>&nbsp; Credential </ng-template>

    <div class="padding">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Issue Credential
            <!-- @if (signed) { You have signed the Voluntaryist Covenant } @else { Issue Credential } -->
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="credential-form">
          <mat-form-field class="did-input">
            <mat-label>Decentralized Identifier (DID)</mat-label>
            <input matInput placeholder="DID" [(ngModel)]="did" />
          </mat-form-field>

          <mat-form-field class="did-input">
            <mat-label>Identifier (ISSUER-YEAR-IDENTIFIER-SEQUENCE)</mat-label>
            <input matInput placeholder="Eg. LFID-07-0001-01" [(ngModel)]="identifier" />
          </mat-form-field>

          <mat-form-field class="did-input">
            <mat-label>Date of issue</mat-label>
            <input matInput [(ngModel)]="issueDate" />
          </mat-form-field>

          <mat-form-field class="did-input">
            <mat-label>Date of expiry</mat-label>
            <input matInput [(ngModel)]="expiryDate" />
          </mat-form-field>

          <mat-form-field class="did-input">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" [(ngModel)]="name" />
          </mat-form-field>

          <mat-form-field class="did-input">
            <mat-label>Birthdate</mat-label>
            <input matInput placeholder="Birthdate" [(ngModel)]="birthdate" />
          </mat-form-field>

          <mat-radio-group class="gender-input" [(ngModel)]="gender">
            <mat-radio-button value="M">Male</mat-radio-button>
            <mat-radio-button value="F">Female</mat-radio-button>
          </mat-radio-group>

          <mat-form-field class="did-input">
            <mat-label>Photograph (Base64)</mat-label>
            <input matInput placeholder="Photograph" [(ngModel)]="photograph" />
          </mat-form-field>

          <!-- <button class="chat-action" mat-icon-button (click)="lookup()">
            <mat-icon>search</mat-icon>
          </button> -->

          @if (credential) {
          <p class="wrap">
            <strong>Credential:</strong><br />
            {{ credential }}
            <button class="copy-button" matTooltip="Copy the credential" mat-icon-button (click)="copyValue()">
              <mat-icon>content_copy</mat-icon>
            </button>
          </p>
          }
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button (click)="sign()" [disabled]="loading">
            Sign and Save Credential (Public Accessible)
          </button>
          <!-- <button mat-flat-button (click)="sign()" [disabled]="loading || signed">
            @if (signed) { Sign Credential } @else { Sign Credential }</button
          >&nbsp; -->
          <!-- <button mat-button (click)="withdraw()" [disabled]="!signed">Withdraw the signature</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label> <mat-icon class="example-tab-icon">person_search</mat-icon>&nbsp; Validate</ng-template>

    <div class="padding">
      <h2>Check verification status</h2>

      <mat-form-field subscriptSizing="dynamic" class="did-input">
        <input matInput placeholder="DID..." [(ngModel)]="did" (keydown.enter)="lookup()" />
      </mat-form-field>
      <button class="chat-action" mat-icon-button (click)="lookup()">
        <mat-icon>search</mat-icon>
      </button>

      @if (lookupSigned !== undefined) {
      <p>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Signature Status</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              @if (lookupSigned) {
              <mat-icon class="signature-icon" inline="true">verified_user</mat-icon>
              } @else {
              <mat-icon class="signature-icon" inline="true">gpp_bad</mat-icon>
              }
            </p>
            <p>The identity with the following DID has @if (!lookupSigned) { no } valid FreeID:</p>
            <p class="ellipsis">
              {{ did }}
            </p>

            @if (lookupCredential) {
            <h2>{{ lookupCredential.name }}</h2>
            <p>
              {{ lookupCredential.identifier }}
            </p>
            <p>
              {{ lookupCredential.dateOfBirth }}
            </p>
            <p>@if (lookupCredential.gender == 'M') { Male } @else { Female }</p>
            <p>
              <img src="data:image/png;base64,{{ lookupCredential.photo }}" />
            </p>
            }
          </mat-card-content>
        </mat-card>
      </p>
      }
    </div>
  </mat-tab>
</mat-tab-group>
