@if(currentIdentity) {

<h1>
  @if(editing) {
  <mat-form-field subscriptSizing="dynamic">
    <input matInput [(ngModel)]="title" (keydown.enter)="saveAccount()" />
  </mat-form-field>
  <button mat-icon-button (click)="saveAccount()">
    <mat-icon>save</mat-icon>
  </button>
  } @else {
  {{ currentIdentity.metadata.name }}
  <!-- <button mat-icon-button (click)="editAccount()">
    <mat-icon>edit</mat-icon>
  </button> -->
  }
</h1>
<p class="ellipsis" [matTooltip]="currentIdentity.did.uri">{{ currentIdentity.did.uri }}</p>

<!--
<p class="warning2">
    <mat-card class="warning">
    Your account is not protected with a personal password.<br><br>
    <button mat-flat-button [routerLink]="['/account', 'password']">Set password now</button>
</mat-card>
</p>-->

<p>
  <button mat-flat-button (click)="activateAccount()">Activate account</button>
  &nbsp;

  <button mat-button (click)="backupAccount()">Backup Account</button>
</p>
<p>
  <br />
  <button mat-flat-button class="warning-button" (click)="deleteAccount()">Delete Account</button>
</p>
}
