@if(currentIdentity) {

<h1>{{ currentIdentity.metadata.name }}</h1>
<p class="ellipsis" [matTooltip]="currentIdentity.did.uri">{{ currentIdentity.did.uri }}</p>

<!--
<p class="warning2">
    <mat-card class="warning">
    Your account is not protected with a personal password.<br><br>
    <button mat-flat-button [routerLink]="['/account', 'password']">Set password now</button>
</mat-card>
</p>-->

<p>
  <button mat-flat-button (click)="activateAccount()">Activate account</button>
  &nbsp;

  <button mat-button (click)="backupAccount()">Backup Account</button>
</p>
<p>
  <br />
  <button mat-flat-button class="warning-button" (click)="deleteAccount()">Delete Account</button>
</p>
}
