<div *ngIf="entry">
  @if (entry.Profile) {
  <h1>{{ entry.profile.Name }}</h1>

  } @else {
  <h1>{{ entry.short }}</h1>
  }

  <h2 class="dimmed">{{ entry.id }}</h2>

  @if (entry.profile?.About) {
  {{ entry.profile.About }}
  } @if (entry.profile?.About) {
  <p>
    @for (website of entry.profile.Website; track website) {
    <a mat-flat-button [href]="website" target="_blank">{{ website }}</a
    >&nbsp; }
  </p>
  }

  <p>Tags: {{ entry.tags.length }}</p>

  <p>
    @for (tag of entry.tags; track tag) {
    <a mat-button [href]="'https://stellar.expert/explorer/public/account/' + tag.value[0]" target="_blank">
      @if (tag.id == 'Love') {
      <mat-icon>favorite</mat-icon>
      } @if (tag.id == 'OneFamily') {
      <mat-icon>family_restroom</mat-icon>
      }

      {{ tag.id }}
    </a>
    }
  </p>

  <p></p>
</div>
