<h1>Backup your account</h1>

<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Secret Recovery Phrase</mat-card-title>
        <mat-card-subtitle>Keep it hidden, keep it safe</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="recovery-phrase-container">
        <p class="recovery-phrase" [ngClass]="{ blur: !reveal() }">
            {{ appService.account().recoveryPhrase }}
        </p>
        <button class="copy-button" matTooltip="Copy the recovery phrase" mat-icon-button (click)="copyRecoveryPhrase()">
            <mat-icon>content_copy</mat-icon>
        </button>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="revealRecoveryPhrase()">
            @if (!reveal()) {
                <span>Reveal phrase</span>
            } @else {
                <span>Hide phrase</span>
            }
        </button>
    </mat-card-actions>
</mat-card>

<p>
    <button mat-flat-button (click)="confirmBackup()">
        <mat-icon>done</mat-icon>
        Confirm you have saved the recovery phrase
    </button>

    <button disabled="true" mat-flat-button>
        <mat-icon>groups</mat-icon>
        Social Recovery Setup (3 friends)
    </button>

    <button disabled="true" mat-flat-button>
        <mat-icon>backup</mat-icon>
        Save to Cloud
    </button>
</p>

<mat-card>
    <mat-card-content>
        <p>
            Ariton is unique and unlike other apps you are used to. Ariton is self-custodial, meaning that you are responsible for keeping your account safe and
            secure. If you lose your account, you lose all your data and access to the app.
        </p>
        <p>Additionally we believe in giving you amazing user experience, so we have different options to choose from when it comes to backup.</p>

        <p>Quick explanation:</p>

        <ul>
            <li>
                Social backup is a unique feature that less apps have today. It allows you to choose 3 of your friends that you trust. If you ever loose your
                account (or device), you can simply ask your 3 friends to help restore your account. This must be setup before it can be used and you friends
                has to accept this responsibility.
            </li>

            <li>
                We also support backup using cloud storage, this is less secure than other options, but it's convenient to use as you can access your account as
                long as you can access your cloud storage. We plan to support OneDrive (Microsoft), Google Drive, iCloud (Apple)
            </li>
        </ul>

        <p>You can of course use multiple options.</p>
    </mat-card-content>
</mat-card>
