button {
    margin-top: 1em;
    margin-right: 1em;
}

mat-card {
    margin-top: 1em;
    margin-bottom: 1em;
}

.secret-recovery-phrase {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.recovery-phrase {
    font-size: 1.4em;
}

.recovery-phrase-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.copy-button {
    margin-left: 0.1em;
}
