<h1>Connections Management</h1>

<mat-card class="notifications-card">
  <mat-card-header>
    <mat-card-title>Connections</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @for(entry of connection.connections(); track entry) {
    <app-request [entry]="entry"></app-request>

    } @empty { No connections found. }
  </mat-card-content>
</mat-card>

<br />

<mat-card class="notifications-card">
  <mat-card-header>
    <mat-card-title>Requests</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @for(entry of connection.requests(); track entry) {
    <app-request [entry]="entry"></app-request>
    } @empty { No requests found. }
  </mat-card-content>
</mat-card>
