@if (entry) {
<mat-card class="card-notification" appearance="outlined">
  <mat-card-header>
    <mat-icon class="card-icon" inline="true" mat-card-avatar>
      @if(entry.record.tags['type'] == 'friend') { people } @else { connect_without_contact }
    </mat-icon>
    <mat-card-title>
      @if(entry.record.tags['type'] == 'friend') { Friend Request } @else { Connect Request }
    </mat-card-title>
    <mat-card-subtitle
      >Type: <span class="capitalize">{{ entry.record.tags['type'] }}</span> ({{
        entry.record.dateCreated | ago
      }})</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    @if (entry.direction == 'out') {
    <div class="notification-description">You have sent friend request to this user. Waiting for their response.</div>

    } @else {

    <div class="notification-description">
      @if (entry.record.tags['type'] == 'friend') { This user wants to be your friend, do you accept? This will give
      them access to send you sharing requets, such as shared Tasks, collabrative apps and more. } @else if
      (entry.record.tags['type'] == 'data') { This is a data sharing request. Do you want to accept?
      <p>
        App: <span class="capitalize">{{ entry.data.app }}</span
        ><br />Title: {{ entry.data.title }}
      </p>
      } @else if (entry.record.tags['type'] == 'credential') { Shared Credential. This will be automatically processed.
      } @else {
      <br />
      }
    </div>

    } @if (entry.direction == 'out') {
    <app-profile-header [did]="entry.record.recipient"></app-profile-header>
    } @else {
    <app-profile-header [did]="entry.record.creator"></app-profile-header>
    }
  </mat-card-content>

  @if (entry.record.tags['type'] == 'credential') {} @else {

  <mat-card-actions>
    @if (entry.direction == 'out') {
    <button mat-flat-button [disabled]="true">PENDING</button>&nbsp;
    <button mat-button (click)="reject(entry)" [disabled]="entry.loading">CANCEL</button>

    } @else {
    <button mat-flat-button (click)="accept(entry)" [disabled]="entry.loading">ACCEPT</button>&nbsp;
    <button mat-button (click)="reject(entry)" [disabled]="entry.loading">DELETE</button>&nbsp;
    <button mat-button (click)="block(entry)" [disabled]="entry.loading">BLOCK</button>
    }
  </mat-card-actions>
  }
</mat-card>
}
