<img class="freeid-logo" src="/icons/freeid/freeid-logo.png" alt="FreeID logo" />

<h2>Unchain Your Identity in the New Free World</h2>

<p>
  FreeID is a revolutionary, decentralized identity system designed for individuals who value freedom and autonomy
  worldwide. Developed by the FreeID Foundation, established under the auspices of the World Voluntaryist Organization,
  FreeID offers a global solution for those seeking sovereignty over their personal identity. Serving as a parallel
  identity system within the New Free World, FreeID empowers individuals with a secure and cryptographically protected
  means of asserting their autonomy.
</p>

<p>
  FreeID is issued by the FreeID Foundation, a non-profit organization dedicated to promoting individual sovereignty.
</p>

<p class="wrap">Official Issuer DID: did:dht:mo7am9cz6qrjwoc4kapffeue9kjw6igdh9dmqd3ywdif6qa7ju4o</p>

<p class="full-width-button">
  <a class="full-size" mat-flat-button href="https://freeid.me" target="_blank">Apply for FreeID</a>
</p>
