<!-- FOLDER!!! @for(file of files(); track file) {
<div>{{ file.data.name }}</div>
} -->

<div id="file-viewer">
  @if(record) {
  <mat-toolbar>
    <button [title]="'Delete'" mat-icon-button (click)="deleteFile()">
      <mat-icon>delete</mat-icon>
    </button>
    <button [title]="'Download'" mat-icon-button (click)="download()">
      <mat-icon>file_download</mat-icon>
    </button>
    <!-- This tags read throws errors upon delete and redirect. Needed this extra guard. -->
    @if (record.tags) {
    <span>{{ this.record.tags['name'] }}</span>
    }
    <span class="toolbar-spacer"></span>
    <button mat-icon-button [disabled]="true">
      <mat-icon>zoom_in</mat-icon>
    </button>
    <button mat-icon-button [disabled]="true">
      <mat-icon>zoom_out</mat-icon>
    </button>
    @if(fullscreen()) {
    <button [title]="'Exit fullscreen'" mat-icon-button (click)="toggleFullscreen()">
      <mat-icon>fullscreen_exit</mat-icon>
    </button>
    } @else {
    <button [title]="'Fullscreen'" mat-icon-button (click)="toggleFullscreen()">
      <mat-icon>fullscreen</mat-icon>
    </button>
    }
  </mat-toolbar>
  } @if(src) {
  <!-- <div class="pdf-zoom-buttons">
  <button (click)="pdfZoomIn()">+</button>
  <button (click)="pdfZoomOut()">-</button>
</div> -->

  <app-file-viewer [src]="src" [type]="type" [pdfZoom]="pdfZoom">
    <h2>This file type is unsupported (yet :)</h2>
  </app-file-viewer>
  }

  <!-- <mat-list>
  @for (entry of entries(); track entry) {
  <mat-list-item (click)="openEntry(entry)">
    @if(entry.data.entryType === 'folder') {
    <mat-icon matListItemIcon>folder</mat-icon>
    } @if(entry.data.entryType === 'file') {
    <mat-icon matListItemIcon>note</mat-icon>
    }
    <div matListItemTitle>{{ entry.data.name }}</div>
    <div matListItemLine>
      {{ entry.data.lastModified | ago }} | {{ entry.data.size | size }} | {{ entry.data.type }}
    </div>
  </mat-list-item>
  }
</mat-list>

<input type="file" id="input" (change)="onFileSelected($event)" multiple style="display: none" /> -->

  <!-- <input type="file" (change)="onFileSelected($event)" />
<button mat-button (click)="upload()" [disabled]="!file || isUploading">Upload</button>
<button mat-button (click)="cancelUpload()" [disabled]="!isUploading">Cancel</button> -->
</div>
