<!-- FOLDER!!! @for(file of files(); track file) {
<div>{{ file.data.name }}</div>
} -->

ParentID: {{ parentId }}
<br />
Level: {{ folderLevel }}

<mat-list>
  @for (entry of entries(); track entry) {
  <mat-list-item (click)="openEntry(entry)">
    <!-- {{ entry.data | json }} -->

    @if(entry.tags['entryType'] === 'folder') {
    <mat-icon matListItemIcon>folder</mat-icon>
    } @if(entry.tags['entryType'] === 'file') {
    <mat-icon matListItemIcon>note</mat-icon>
    }
    <div matListItemTitle>{{ entry.tags['name'] }}</div>

    @if(entry.tags['entryType'] === 'folder') {
    <div matListItemLine>{{ entry.dateModified | ago }} | Folder</div>
    } @if(entry.tags['entryType'] === 'file') {
    <div matListItemLine>
      {{ entry.tags['lastModified'] | ago }} | {{ entry.tags['size'] | size }} | {{ entry.tags['type'] }}
      <!-- {{ entry.record.lastModified | ago }} -->
    </div>
    }
  </mat-list-item>
  }
</mat-list>

<input type="file" id="input" (change)="onFileSelected($event)" multiple style="display: none" />

<!-- <input type="file" (change)="onFileSelected($event)" />
<button mat-button (click)="upload()" [disabled]="!file || isUploading">Upload</button>
<button mat-button (click)="cancelUpload()" [disabled]="!isUploading">Cancel</button> -->
