<!-- FOLDER!!! @for(file of files(); track file) {
<div>{{ file.data.name }}</div>
} -->

<mat-list>
  @for (entry of entries(); track entry) {
  <mat-list-item (click)="openEntry(entry)">
    <!-- {{ entry.data | json }} -->

    @if(entry.data.entryType === 'folder') {
    <mat-icon matListItemIcon>folder</mat-icon>
    } @if(entry.data.entryType === 'file') {
    <mat-icon matListItemIcon>note</mat-icon>
    }
    <div matListItemTitle>{{ entry.data.name }}</div>

    @if(entry.data.entryType === 'folder') {
    <div matListItemLine>{{ entry.record.dateModified | ago }} | 'Folder'</div>
    } @if(entry.data.entryType === 'file') {
    <div matListItemLine>
      {{ entry.data.lastModified | ago }} | {{ entry.data.size | size }} | {{ entry.data.type }}
      <!-- {{ entry.record.lastModified | ago }} -->
    </div>
    }
  </mat-list-item>
  }
</mat-list>

<input type="file" id="input" (change)="onFileSelected($event)" multiple style="display: none" />

<!-- <input type="file" (change)="onFileSelected($event)" />
<button mat-button (click)="upload()" [disabled]="!file || isUploading">Upload</button>
<button mat-button (click)="cancelUpload()" [disabled]="!isUploading">Cancel</button> -->
