<!-- FOLDER!!! @for(file of files(); track file) {
<div>{{ file.data.name }}</div>
} -->

<!-- ParentID: {{ parentId }}
<br />
Level: {{ folderLevel }} -->

<!-- <mat-list>
  @for (entry of entries(); track entry) {
  <mat-list-item (click)="openEntry(entry)">
    @if(entry.tags['entryType'] === 'folder') {
    <mat-icon matListItemIcon>folder</mat-icon>
    } @if(entry.tags['entryType'] === 'file') {
    <mat-icon matListItemIcon>note</mat-icon>
    }
    <div matListItemTitle>{{ entry.tags['name'] }}</div>
    @if(entry.tags['entryType'] === 'folder') {
    <div matListItemLine>{{ entry.dateModified | ago }} | Folder</div>
    } @if(entry.tags['entryType'] === 'file') {
    <div matListItemLine>
      {{ entry.tags['lastModified'] | ago }} | {{ entry.tags['size'] | size }} | {{ entry.tags['type'] }}
    </div>
    }
  </mat-list-item>
  }
</mat-list> -->

<mat-card class="toolbar-actions margin-bottom">
  <mat-card-content>
    <button type="button" mat-button (click)="editFile({})">
      <mat-icon>upload_file</mat-icon>
      <span>Upload files</span>
    </button>
    @if (folderLevel < 4) { @if (layout.small()) {
    <button mat-icon-button class="toolbar-icon-button" (click)="editFolder(null)">
      <mat-icon>create_new_folder</mat-icon>
    </button>
    } @else {
    <button mat-button (click)="editFolder(null)">
      <mat-icon>create_new_folder</mat-icon>
      <span>New folder</span>
    </button>
    } } @if (folderLevel > 1) { @if (layout.small()) {

    <button type="button" class="toolbar-icon-button" mat-icon-button (click)="editFolderById(parentId!)">
      <mat-icon>edit</mat-icon>
    </button>
    <button type="button" class="toolbar-icon-button" mat-icon-button (click)="deleteFolder()">
      <mat-icon>delete_forever</mat-icon>
    </button>

    } @else {
    <button type="button" mat-button (click)="editFolderById(parentId!)">
      <mat-icon>edit</mat-icon>
      <span>Rename folder</span>
    </button>
    <button type="button" mat-button (click)="deleteFolder()">
      <mat-icon>delete_forever</mat-icon>
      <span>Delete folder</span>
    </button>
    } }
  </mat-card-content>
</mat-card>

<input type="file" id="input" (change)="onFileSelected($event)" multiple style="display: none" />

<table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
  <!-- Position Column -->
  <!-- <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">No.</th>
    <td mat-cell *matCellDef="let element">{{ element.position }}</td>
  </ng-container> -->

  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="icon-column"></th>
    <td mat-cell *matCellDef="let entry" class="clickable icon-column" (click)="openEntry(entry)">
      <mat-icon matListItemIcon>{{ entry.icon }}</mat-icon>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Name</th>
    <td mat-cell *matCellDef="let entry" class="clickable" (click)="openEntry(entry)">{{ entry.name }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="modified">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by modified">Modified</th>
    <td mat-cell *matCellDef="let entry">
      {{ entry.modified | ago }}
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="size">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by file size">File size</th>
    <td mat-cell *matCellDef="let entry">{{ entry.size | size }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<!-- Copyright 2024 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->

<!-- <input type="file" (change)="onFileSelected($event)" />
<button mat-button (click)="upload()" [disabled]="!file || isUploading">Upload</button>
<button mat-button (click)="cancelUpload()" [disabled]="!isUploading">Cancel</button> -->
