@if (loading()) {
<div class="loading-indicator"><mat-spinner></mat-spinner></div>
} @else { @for(record of records(); track record) {
<mat-card class="registry-card" appearance="outlined">
  <mat-card-header>
    <img mat-card-avatar [src]="record.data.icon" class="example-header-image" />
    <mat-card-title
      ><a class="link" [routerLink]="['/registry', record.data.registry]">{{ record.data.name }}</a></mat-card-title
    >
    <mat-card-subtitle>{{ record.data.title }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    @if (record.data.url) { Website: <a [href]="record.data.url" target="_blank">{{ record.data.url }}</a
    ><br />
    } Owner: <span [matTooltip]="record.data.owner">{{ record.data.owner | did }}</span
    ><br /><br />
    {{ record.data.description }}
  </mat-card-content>
  <mat-card-actions>
    <button [routerLink]="['/registry', record.data.registry]" mat-button>Open</button>
  </mat-card-actions>
</mat-card>
} }
