<h1>Restore your account</h1>

<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <p>
    <mat-button-toggle-group formControlName="importType">
      <mat-button-toggle value="ariton">Ariton</mat-button-toggle>
      <mat-button-toggle value="stellar">Stellar</mat-button-toggle>
      <mat-button-toggle value="nostr">Nostr</mat-button-toggle>
    </mat-button-toggle-group>
  </p>

  @if (addressForm.controls.importType.value == 'stellar') {

  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Private Key</mat-card-title>
      <mat-card-subtitle>Enter your Stellar private key (starts with 'S')</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <br />
      <mat-form-field class="full-width">
        <mat-label>Stellar Private Key</mat-label>
        <textarea
          matInput
          #recoveryPhrase
          placeholder="Secret Recovery Phrase"
          formControlName="recoveryPhrase"
        ></textarea>
        @if (addressForm.controls['recoveryPhrase'].hasError('required')) {
        <mat-error>Private key is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button [disabled]="app.loading()" mat-flat-button color="primary" type="submit">Restore</button>
    </mat-card-actions>
  </mat-card>

  } @else if (addressForm.controls.importType.value == 'ariton') {

  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Portable DID</mat-card-title>
      <mat-card-subtitle>Choose your backup file (portableIdentity.json)</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <br />

      <button type="button" mat-button (click)="editFile({})">
        <mat-icon>upload_file</mat-icon>
        <span>Choose portable DID files</span>
      </button>

      <input type="file" id="input" (change)="onFileSelected($event)" multiple style="display: none" />

      <button mat-button type="button" (click)="query()">Query</button>

      <!-- <div class="full-width">
        <label for="backupFile">Backup File</label>
        <input type="file" id="backupFile" />
      </div> -->
    </mat-card-content>
    <!-- <mat-card-actions align="end">
      <button [disabled]="app.loading()" mat-flat-button color="primary" type="submit">Restore</button>
    </mat-card-actions> -->
  </mat-card>

  @if (this.importedIdentities.length > 0) {
  <h1>Imported Accounts</h1>

  <mat-list>
    @for(identity of this.importedIdentities; track identity) {
    <a [routerLink]="['/account', identity.did.uri]" mat-list-item class="selectable-list-item">
      <mat-icon matListItemIcon>account_circle</mat-icon>
      <span matListItemTitle>{{ identity.metadata.name }}</span>
      <span matListItemLine>{{ identity.did.uri }}</span>
    </a>
    }
  </mat-list>
  } } @else () {
  <mat-card class="shipping-card">
    <mat-card-content>
      <p>Support for Nostr is coming in the future</p>
    </mat-card-content>
  </mat-card>
  <!-- <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Secret Recovery Phrase</mat-card-title>
      <mat-card-subtitle>Enter your 12 words backup</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <br />
      <mat-form-field class="full-width">
        <mat-label>Secret Recovery Phrase</mat-label>
        <textarea
          matInput
          #recoveryPhrase
          placeholder="Secret Recovery Phrase"
          formControlName="recoveryPhrase"
        ></textarea>
        @if (addressForm.controls['recoveryPhrase'].hasError('required')) {
        <mat-error>Recovery phrase is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button [disabled]="app.loading()" mat-flat-button color="primary" type="submit">Restore</button>
    </mat-card-actions>
  </mat-card> -->
  }
</form>
