.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.link-input {
  display: flex;
  align-items: baseline;
}

.link-input button {
  margin-left: 0.4em;
}

.account-action-button {
  padding-top: 1.2em;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.selectable-list-item {
  cursor: pointer;
}

.selectable-list-item:hover {
  background-color: var(--mdc-list-list-item-leading-avatar-color);
}
