<h1>Roles Management</h1>

<mat-card>
  <mat-card-content>Manage all the roles in every app that you have assigned other users on Ariton.</mat-card-content>
</mat-card>

<br />

<mat-card class="notifications-card">
  <mat-card-header>
    <mat-card-title>Roles</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      @for(entry of roles(); track entry) {
      <app-request [entry]="entry"></app-request>
      } @empty { No roles found. }
    </p>
  </mat-card-content>
</mat-card>
