<h2 mat-dialog-title>Community Host Agreement</h2>
<mat-dialog-content class="mat-typography">
  <h3>General Agreement</h3>

  <p>This software is provided with no warranty.</p>

  <p>You accept that all human interactions should be voluntary.</p>

  <p>You accept that you won't attempt to exploit or abuse the app, server and infrastructure used by Ariton.</p>

  <p>
    You accept that all usage of Ariton's apps, servers, infrastructure and software must be the result of peaceful
    voluntary human interactions. Uploading and sharing content that was the result of involuntary human interactions is
    not allowed.
  </p>

  <p>
    Ariton reserves the right to exclude, remove, delete any community, content, user or any other data that is stored
    on Ariton's servers. Ariton does not have permission or right to access any data that is stored on user's personal
    data stores, unless the app has given explicit and implicit permission to do so.
  </p>

  <h3>Responsibilities as a Community Host</h3>
  <p>
    As a Community Host, you are responsible for creating a welcoming and inclusive environment for all members. This
    includes:
  </p>
  <ul>
    <li>Ensuring that all interactions are respectful and free from harassment.</li>
    <li>Moderating content to ensure it adheres to community guidelines.</li>
    <li>Providing timely responses to community inquiries and issues.</li>
  </ul>

  <h3>Ariton's Commitment to Community Hosts</h3>
  <p>Ariton is committed to supporting Community Hosts by providing:</p>
  <ul>
    <li>Access to resources and training materials.</li>
    <li>Technical support for platform-related issues.</li>
    <li>Regular updates and communication regarding community policies.</li>
  </ul>

  <h3>Rules and Behaviors</h3>
  <p>All Community Hosts must adhere to the following rules and behaviors:</p>
  <ul>
    <li>Maintain a professional and respectful tone in all communications.</li>
    <li>Do not engage in or tolerate any form of discrimination or harassment.</li>
    <li>Ensure that all content shared is appropriate and relevant to the community.</li>
  </ul>

  <h3>Acceptable Content</h3>
  <p>Acceptable content includes:</p>
  <ul>
    <li>Educational materials and resources.</li>
    <li>Community announcements and updates.</li>
    <li>Discussions and forums that promote positive engagement.</li>
  </ul>
  <p>Unacceptable content includes:</p>
  <ul>
    <li>Offensive or discriminatory language.</li>
    <li>Spam or irrelevant advertisements.</li>
    <li>Content that violates any laws or community guidelines.</li>
  </ul>

  <h3>Basic SLA Agreement</h3>
  <p>As part of the Service Level Agreement (SLA), Community Hosts are expected to:</p>
  <ul>
    <li>Regularly monitor and moderate community interactions.</li>
  </ul>
  <p>Ariton will provide:</p>
  <ul>
    <li>Technical support for issues through GitHub.</li>
    <li>Regular updates and maintenance to ensure platform stability.</li>
    <li>Access to a dedicated support team for Community Hosts, which includes:</li>
    <ul>
      <li>
        <strong>Basic Support:</strong>
        <ul>
          <li>Access to community forums and knowledge base.</li>
          <li>Email support with a response time of up to 72 hours.</li>
          <li>Regular updates and bug fixes.</li>
        </ul>
      </li>
      <li>
        <strong>Extended Support:</strong>
        <ul>
          <li>All features of Basic Support.</li>
          <li>Priority email support with a response time of up to 48 hours.</li>
          <li>Monthly webinars and training sessions.</li>
          <li>Access to beta features and early updates.</li>
        </ul>
      </li>
      <li>
        <strong>Premium Support:</strong>
        <ul>
          <li>All features of Extended Support.</li>
          <li>Chat support with a response time of up to 24 hour.</li>
          <li>Dedicated account manager for personalized assistance.</li>
          <li>Customizable support plans and SLAs.</li>
          <li>On-site training and support (if applicable).</li>
        </ul>
      </li>
    </ul>
  </ul>

  <h3>Changes to agreement policies</h3>
  <p>
    We reserve the right to update and change our agreement policies at any time, and it is hosts and users
    responsibility to ensure knowledge and acceptance of the latest revisions.
  </p>
  <p>Last updated: 2024-10-10</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
