<!-- <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()"> -->
<mat-stepper #stepper [linear]="true" (selectionChange)="onStepChange($event)">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Options</ng-template>

      <!-- <div>
          <p>You want to create your own community? Great!</p>
          <p>
            On Ariton, communities are important and we want both the owners, and the members to have a great
            experience.
          </p>
          <p>We work very hard to make sure Ariton is a great place for communities, so we.</p>
        </div> -->

      <div>
        <div class="storage-container">
          <mat-icon class="storage-icon" inline="true">diversity_2</mat-icon>
          <h1>Choose the feature options</h1>
          <p>Choose the features you want to include in your community. You can always change these later on.</p>
          <p>
            <mat-button-toggle-group formControlName="premiumPeriod">
              <mat-button-toggle value="monthly">Monthly</mat-button-toggle>
              <mat-button-toggle value="annual">Annual</mat-button-toggle>
            </mat-button-toggle-group>
          </p>
        </div>

        <div class="offers">
          @if (firstFormGroup.controls.premiumPeriod.value === 'monthly') {
          <mat-card class="offer-card">
            <mat-card-header>
              <mat-icon mat-card-avatar>cloud</mat-icon>
              <mat-card-title>Basic (10 GB)</mat-card-title>
              <mat-card-subtitle>$200/month</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Ideal for small communities, members pay a monthly fee.</p>
              <p>The host can configure membership fee between $1 and $10 per month.</p>
              <p>Maximum 50 members.</p>
              <p>Basic support.</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="chooseOption('monthly-basic')" matStepperNext>Choose</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="offer-card">
            <mat-card-header>
              <mat-icon mat-card-avatar>cloud_done</mat-icon>
              <mat-card-title>Standard (50 GB)</mat-card-title>
              <mat-card-subtitle>$300/month</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Ideal for medium communities, members pay a monthly fee.</p>
              <p>The host can configure membership fee between $1 and $100 per month.</p>
              <p>Maximum 1,000 members.</p>
              <p>Extended support.</p>
              <!-- <p>
                  If you want to cover all the expenses for your community members, like in a corporate environment,
                  then this is your best option. Members joining needs to be approved by the host, and the members pay
                  nothing to be members.
                </p> -->
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="chooseOption('monthly-standard')" matStepperNext>Choose</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="offer-card">
            <mat-card-header>
              <mat-icon mat-card-avatar>cloud_done</mat-icon>
              <mat-card-title>Premium (100 GB)</mat-card-title>
              <mat-card-subtitle>$500/month</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Ideal for larger and exclusive communities, members pay a monthly fee.</p>
              <p>The host can configure membership fee between $1 and $1000 per month.</p>
              <p>Maximum 10,000 members.</p>
              <p>Premium support.</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="chooseOption('monthly-premium')" matStepperNext>Choose</button>
            </mat-card-actions>
          </mat-card>
          } @else {
          <mat-card class="offer-card">
            <mat-card-header>
              <mat-icon mat-card-avatar>cloud</mat-icon>
              <mat-card-title>Basic (10 GB)</mat-card-title>
              <mat-card-subtitle>$190/month</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Ideal for small communities, members pay a monthly fee.</p>
              <p>The host can configure membership fee between $1 and $10 per month.</p>
              <p>Maximum 50 members.</p>
              <p>Basic support.</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="chooseOption('annual-basic')" matStepperNext>Choose</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="offer-card">
            <mat-card-header>
              <mat-icon mat-card-avatar>cloud_done</mat-icon>
              <mat-card-title>Standard (50 GB)</mat-card-title>
              <mat-card-subtitle>$280/month</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Ideal for medium communities, members pay a monthly fee.</p>
              <p>The host can configure membership fee between $1 and $100 per month.</p>
              <p>Maximum 1,000 members.</p>
              <p>Extended support.</p>
              <!-- <p>
                  If you want to cover all the expenses for your community members, like in a corporate environment,
                  then this is your best option. Members joining needs to be approved by the host, and the members pay
                  nothing to be members.
                </p> -->
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="chooseOption('annual-standard')" matStepperNext>Choose</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="offer-card">
            <mat-card-header>
              <mat-icon mat-card-avatar>cloud_done</mat-icon>
              <mat-card-title>Premium (100 GB)</mat-card-title>
              <mat-card-subtitle>$450/month</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Ideal for larger and exclusive communities, members pay a monthly fee.</p>
              <p>The host can configure membership fee between $1 and $1000 per month.</p>
              <p>Maximum 10,000 members.</p>
              <p>Premium support.</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="chooseOption('annual-premium')" matStepperNext>Choose</button>
            </mat-card-actions>
          </mat-card>
          }
        </div>
      </div>

      <!-- <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required />
        </mat-form-field> -->
      <!-- <div>
          <button mat-button matStepperNext>Next</button>
        </div> -->
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Configure">
    <form [formGroup]="secondFormGroup">
      <div>
        <app-avatar formControlName="avatar"></app-avatar>

        <mat-card class="form-card">
          <mat-card-content>
            <mat-form-field class="full-width">
              <mat-label>Community name</mat-label>
              <input matInput #name placeholder="Community name" maxlength="200" formControlName="name" />
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Community type</mat-label>
              <mat-select formControlName="type">
                @for (type of communityTypes; track type) {
                <mat-option [value]="type.type">{{ type.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <!-- <mat-form-field class="full-width">
        <mat-label>Title</mat-label>
        <input matInput #title placeholder="Title" formControlName="title" />
        @if (form.controls['title'].hasError('required')) {
        <mat-error>Title is <strong>required</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Status</mat-label>
        <input matInput placeholder="Status" formControlName="status" />
        @if (form.controls['status'].hasError('required')) {
        <mat-error>Status is <strong>required</strong></mat-error>
        }
      </mat-form-field> -->

            <mat-form-field class="full-width">
              <mat-label>About</mat-label>
              <textarea maxlength="300" matInput #bio placeholder="About" formControlName="bio"></textarea>
              @if (secondFormGroup.controls['bio'].hasError('required')) {
              <mat-error>About is <strong>required</strong></mat-error>
              }
              <mat-hint align="end">{{ bio.value.length }} / 300</mat-hint>
            </mat-form-field>

            <!-- <mat-form-field class="full-width">
        <mat-label>Location</mat-label>
        <input matInput placeholder="Location" formControlName="location" />
        @if (form.controls['location'].hasError('required')) {
        <mat-error>Location is <strong>required</strong></mat-error>
        }
        <mat-icon matSuffix>place</mat-icon>
      </mat-form-field> -->

            <!--
            <mat-form-field class="full-width">
           
                <mat-select placeholder="State" formControlName="state">
                @for (state of states; track state) {
                  <mat-option [value]="state.abbreviation">{{ state.name }}</mat-option>
                }
              </mat-select>
              @if (addressForm.controls['state'].hasError('required')) {
                <mat-error>State is <strong>required</strong></mat-error>
              }
            </mat-form-field>-->

            <!--
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput #postalCode maxlength="5" placeholder="Postal Code" type="number" formControlName="postalCode">
              <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>
          </div>
        </div>-->

            <!-- In your component.html -->
            <!-- Step 5: Update HTML to display dynamic link inputs -->
            <!--<div formArrayName="links" *ngFor="let link of links.controls; let i = index">-->
            <div formArrayName="owners">
              @for (owner of owners.controls; track owner; let i = $index) {
              <div class="link-input">
                <mat-form-field class="full-width">
                  <input matInput type="text" [formControlName]="i" placeholder="Host (DID)" />
                </mat-form-field>
                <button mat-icon-button type="button" (click)="removeOwner(i)"><mat-icon>clear</mat-icon></button>
              </div>
              }
            </div>
            <button mat-stroked-button type="button" (click)="addOwner()">
              <mat-icon>add_link</mat-icon> Add Host
            </button>

            <h3 class="h3-membership-fee">
              Membership Fee: <span class="capitalize">{{ optionLevel }}</span>
            </h3>

            <p>
              Set the membership fee for your community. If you want to use Ariton in a corporate setting without user's
              having to pay fee, you can choose to cover all the expenses for your community members.
            </p>

            <p>
              <mat-radio-group formControlName="membershipType" (change)="resetFee()" aria-label="Select an option">
                <mat-radio-button value="paid">Paid by Member</mat-radio-button>
                <mat-radio-button value="free">Paid by Host</mat-radio-button>
              </mat-radio-group>
            </p>

            @if (secondFormGroup.controls.membershipType.value === 'paid') {
            <span>As the host, you will receive 70% of membership fee.</span>
            <p class="fee-control">
              <mat-slider [max]="costLevel.maxFee" [min]="1" [step]="1" [showTickMarks]="true">
                <input matSliderThumb formControlName="fee" #slider />
              </mat-slider>
              <span class="price">${{ secondFormGroup.controls.fee.value }} per member</span>
            </p>
            <p class="fee-control">
              <mat-slider
                [max]="costLevel.maxMembers"
                [min]="costLevel.steps"
                [step]="costLevel.steps"
                [showTickMarks]="true"
              >
                <input matSliderThumb formControlName="members" #slider />
              </mat-slider>
              <span class="price">{{ secondFormGroup.controls.members.value }}/members</span>
            </p>
            <span>Pricing example with {{ secondFormGroup.controls.members.value }} members: </span>
            <p>
              Community Type: <span class="capitalize">{{ costLevel.id }}</span
              ><br />
              Host costs: -${{ costLevel.cost }}<br />
              Host income: +${{ earnings }}
            </p>
            } @else {
            <span> As the host, you must approve all membership requests. Members do not pay a fee to join.</span>
            <p class="fee-control">
              <span class="price">$1 per member per month</span>
            </p>
            <p class="fee-control">
              <mat-slider
                [max]="costLevel.maxMembers"
                [min]="costLevel.steps"
                [step]="costLevel.steps"
                [showTickMarks]="true"
              >
                <input matSliderThumb formControlName="members" #slider />
              </mat-slider>
              <span class="price">{{ secondFormGroup.controls.members.value }}/members</span>
            </p>
            <span>Pricing example with {{ secondFormGroup.controls.members.value }} members:</span>
            <p>
              Community Type: <span class="capitalize">{{ costLevel.id }}</span
              ><br />
              Host costs: -${{ costLevel.cost + costs }}
            </p>
            }

            <!--
        <div class="row">
          <div class="col">
            <mat-radio-group formControlName="shipping">
              <mat-radio-button value="free">Free Shipping</mat-radio-button>
              <mat-radio-button value="priority">Priority Shipping</mat-radio-button>
              <mat-radio-button value="nextday">Next Day Shipping</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>-->
          </mat-card-content>
          <!-- <mat-card-actions align="end">
            <button mat-button type="button" (click)="back()">Cancel</button>
            <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
          </mat-card-actions> -->
        </mat-card>
      </div>
    </form>
    <!-- <form [formGroup]="secondFormGroup">
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required />
        </mat-form-field> -->
    <p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
      <br />
      <br />
      <button mat-button class="warning-button" [disabled]="!draftEntry" (click)="deleteDraft()">Delete Draft</button>
    </p>
    <!-- </form> -->
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <ng-template matStepLabel>Payment</ng-template>

    @if (saved) { @if(!paid) {
    <form [formGroup]="fourthFormGroup">
      <h1>Finalize Payment</h1>

      <p>
        <mat-button-toggle-group formControlName="paymentMethod">
          <mat-button-toggle value="ln">Bitcoin Lightning</mat-button-toggle>
        </mat-button-toggle-group>
      </p>

      <p class="warning">
        THIS IS JUST A DEMO, NO COMMUNITY IS CREATED. PAYMENT IS REAL. CONSIDER IT A DONATION TO ARITON.
      </p>

      <!-- <p>
        <button mat-flat-button (click)="generateInvoice()">Get Invoice</button>
        <button mat-flat-button (click)="checkPayment()">Check Payment</button>
      </p> -->

      <p class="qr-code"><canvas #qrCanvas></canvas></p>
      <div>Amount: {{ amount }} sats</div>
      <div class="invoice wrap">{{ invoice }}</div>

      <p>
        {{ paymentStatus }}
      </p>

      <p>
        <button mat-button (click)="deleteRequest()">Delete the community request</button>
      </p>
    </form>
    } @else {

    <h1>Payment completed!</h1>

    <p class="large-icon">
      <mat-icon inline="true">verified</mat-icon>
    </p>

    <p>
      Your payment has been received and your community is now active. You can now invite members to join your
      community.
    </p>

    <p>
      <strong class="warning">WARNING: THIS IS A DEMO. NO COMMUNITY WAS CREATED.</strong>
    </p>

    } } @else {
    <form [formGroup]="thirdFormGroup">
      <h1>You're almost done!</h1>

      <p>Please validate your options before making a payment:</p>

      <h3 class="capitalize">{{ costLevel.id }}</h3>
      <p>
        Name: {{ secondFormGroup.controls.name.value }}<br />
        Type: <span class="capitalize">{{ secondFormGroup.controls.type.value }}</span
        ><br /><br />
        Payment intervals: @if(costLevel.annual) { Annual } @else { Monthly }<br />
        Cost: <strong>${{ costLevel.cost }}/month</strong><br /><br />
        Membership cost: <strong>${{ secondFormGroup.controls.fee.value }}/month</strong><br />
        Paid by:
        <strong> @if(secondFormGroup.controls.membershipType.value === 'paid') { Member } @else { Host } </strong>
      </p>

      <div class="agreement-selection">
        <mat-checkbox formControlName="acceptTerms">I agree with Community Host Agreement</mat-checkbox><br />
        <button type="button" mat-button (click)="openAgreement()">Read Community Host Agreement</button>
      </div>
      <h3>Payment due</h3>
      <div class="payment-total">
        $@if(costLevel.annual) {
        {{ costLevel.cost * 12 }} / ~{{ costLevel.sats * 12 }} sats } @else { {{ costLevel.cost }} / ~{{
          costLevel.sats
        }}
        sats }
      </div>
      <p>
        <button mat-flat-button [disabled]="!thirdFormGroup.valid" (click)="save()">Approve</button>
      </p>
    </form>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
      <br />
      <br />
      <button mat-button class="warning-button" [disabled]="!draftEntry" (click)="deleteDraft()">Delete Draft</button>
    </div>
    }
  </mat-step>
</mat-stepper>

<!-- </form> -->
