<div class="selectable">
  <h1 id="policy">Privacy Policy</h1>

  <h3>App/Website</h3>

  <p>This software is provided with no warranty.</p>

  <p>
    Ariton does not currently collect any information about you as a person. This can change in the future, with new
    features available. A change to the privacy policy, will be announced.
  </p>

  <p>
    When you use the Ariton, all your data will be sent to the Blockcore Servers, TBD Servers, Google Cloud, your own
    private server or any community server of your choosing.
  </p>

  <h3>Decentralized Identifiers</h3>

  <p>We advise to share as little information as possible in profiles attached to decentralized identifiers.</p>

  <h3>Data Vaults</h3>

  <p>
    Users can create and publish data vaults on public Decentralized Web Nodes. The creator of a data vault has the
    control to publish or unpublish content in a data vault. Sharing content from data vaults is done through access
    control managed by the creator of the data vault.
  </p>

  <p>
    The content publisher is responsible for the content uploaded and provided. Individual hosts of Decentralized Web
    Nodes can censor/filter and delete data vaults and individual items of content at their own will.
  </p>

  <h3>Other software (not mentioned above)</h3>

  <p>
    None of other software tracks or logs person identifiable information. If you publish person identifiable
    information using our services, we cannot guarantee the ability to remove that information. We do not perform any
    activity tracking or logging.
  </p>

  <h3>Changes to privacy policy</h3>

  <p>
    We reserve the right to update and change our privacy policy at any time, and it is users responsibility to ensure
    knowledge and acceptance of the latest revisions.
  </p>

  <p>Last updated: 2024-08-13</p>

  <p>&nbsp;</p>

  <h1 id="terms">Terms and Conditions</h1>

  <p>
    You accept that you won't attempt to exploit or abuse the server and infrastructure used by the Ariton or the
    organizations of people and corporations involved with Ariton.
  </p>

  <p>You accept that certain content provided by Ariton software and website, might have copyright attached.</p>

  <p>You accept that all human interactions should be voluntary.</p>

  <p>
    You accept that all usage of Ariton server, infrastructure and software must be the result of peaceful voluntary
    human interactions.
  </p>

  <p>Ariton is provided by free individuals and the company entity of:</p>

  <p>
    Ariton<br />
    <br />
  </p>

  <h3>Changes to terms and conditions</h3>

  <p>
    We reserve the right to update and change our terms and condition at any time, and it is users responsibility to
    ensure knowledge and acceptance of the latest revisions.
  </p>

  <p>Last updated: 2024-07-04</p>

  <p>&nbsp;</p>

  <h1 id="license">License</h1>

  <p>MIT License</p>

  <p>Copyright (c) 2024 Ariton Team</p>

  <p>
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
    documentation files (the "Software"), to deal in the Software without restriction, including without limitation the
    rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to
    permit persons to whom the Software is furnished to do so, subject to the following conditions:
  </p>

  <p>
    The above copyright notice and this permission notice shall be included in all copies or substantial portions of the
    Software.
  </p>

  <p>
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
    WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS
    OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
    OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  </p>
</div>
