<div class="player" [ngClass]="{ miniplayer: miniplayer }">
  @if (!miniplayer) {
  <div class="player-media">{{ player.title() }}</div>
  }
  <div class="player-controls">
    <div>
      <button class="nodrag" mat-icon-button (click)="player.previous()">
        <mat-icon>skip_previous</mat-icon>
      </button>
    </div>
    @if (player.paused) {
    <div>
      <button mat-icon-button (click)="player.play()">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
    } @else {
    <div>
      <button mat-icon-button (click)="player.pause()">
        <mat-icon>pause</mat-icon>
      </button>
    </div>
    }
    <div>
      <button mat-icon-button (click)="player.next()">
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
  </div>
  @if (!miniplayer) {
  <div class="player-actions">
    <div>
      <button mat-icon-button>
        <mat-icon>queue</mat-icon>
      </button>
    </div>
    <div>
      <button mat-icon-button (click)="closeTray()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  }
</div>
