.player {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.miniplayer {
  padding: 0;
  margin: -4px;
  -webkit-app-region: drag;
}

.player-media {
  display: flex;
  flex-direction: row;
  flex: 1 1 25%;
  align-items: center;
}

.player-controls {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  justify-content: center;
}

.player-actions {
  display: flex;
  flex-direction: row;
  flex: 1 1 25%;
  justify-content: flex-end;
  align-items: center;
}

.smaller {
  font-size: 0.8em;
}

.player-controls-top {
  display: flex;
  justify-content: center;
}

.player-controls-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}
