<div class="player" [ngClass]="{ miniplayer: miniplayer }">
  @if (!miniplayer) {
  <div class="player-media">Media... {{ miniplayer }}</div>
  }
  <div class="player-controls">
    <div>
      <button class="nodrag" mat-icon-button>
        <mat-icon>skip_previous</mat-icon>
      </button>
    </div>
    <div>
      <button mat-icon-button>
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
    <!-- <div>
      <button mat-icon-button>
        <mat-icon>pause</mat-icon>
      </button>
    </div> -->
    <div>
      <button mat-icon-button>
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
  </div>
  @if (!miniplayer) {
  <div class="player-actions">
    <div>
      <button mat-icon-button>
        <mat-icon>queue</mat-icon>
      </button>
    </div>
    <div>
      <button mat-icon-button (click)="closeTray()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  }
</div>
