.record-line {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.example-tab-icon {
    margin-right: 8px;
}

.type-icon {
    color: #757575;
    margin-right: 5px;
}
