@if (reset()) {
    <h1>Change your password</h1>
} @else {
    <h1>Set your password</h1>
}

<!-- TODO: Check if user has already set custom password, then change this into a change password dialog -->

<form (ngSubmit)="onSubmit()">
    @if (reset()) {
        <mat-form-field class="full-width">
            <mat-label>Enter your old password</mat-label>
            <input matInput [formControl]="passwordInputPrevious" type="password" />
        </mat-form-field>
        <br />
    }

    <mat-form-field class="full-width">
        <mat-label>Enter your new password</mat-label>
        <input matInput [formControl]="passwordInput" type="password" />
    </mat-form-field>
    <br />

    <mat-form-field class="full-width">
        <mat-label>Repeat your new password</mat-label>
        <input matInput [formControl]="passwordInputRepeat" type="password" />
    </mat-form-field>

    &nbsp;
    <button mat-flat-button type="submit" color="primary" [disabled]="!(passwordInput.valid && !unlocking())">
        @if (unlocking()) {
            <mat-spinner diameter="20"></mat-spinner>
        } @else {
            <span>Save new password</span>
        }
    </button>

    <p>
        @if (invalidPassword()) {
            <mat-error>Password is <strong>invalid</strong></mat-error>
        }
    </p>

    <mat-card appearance="outlined">
        <mat-card-content>
            <strong>WARNING:</strong> If you forget this password, <strong>your account and all data will be lost.</strong>
            <p>
                It is impossible for anyone else, even us, to recover your account if you forget your password. We suggest you write it down and store it in a
                safe place.
            </p></mat-card-content
        >
    </mat-card>
</form>
