<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">source</mat-icon>
            Your Data
        </ng-template>

        <app-data-management></app-data-management>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">folder</mat-icon>
            Public Data
        </ng-template>

        <p>Not implemented yet. See "Your Data" tab.</p>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">format_list_bulleted</mat-icon>
            Protocols
        </ng-template>

        <app-data-protocols></app-data-protocols>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">stream</mat-icon>
            Live (Demo)
        </ng-template>

        <app-data-live></app-data-live>
    </mat-tab>
</mat-tab-group>
