@if (data()) {
<div class="profile-header">
  @if (data().avatar) {
  <img
    class="profile-header-icon"
    [src]="data().avatar | safeResourceUrl"
    onerror="this.src='/avatar-placeholder.png';this.onerror='';"
  />
  } @else {
  <img class="profile-header-icon" src="/avatar-placeholder.png" />
  }

  <div class="profile-header-text">
    {{ data() | json }}
    <br /><br />
    <h1>
      {{ data().profile.name }}
      @if(data().profile.title) {
      <span>({{ data().profile.title }})</span>
      }
    </h1>
    <span class="ellipsis">{{ data().profile.did }}</span>
  </div>
  <div class="spacer"></div>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menuProfile">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menuProfile="matMenu">
      <button disabled="true" mat-menu-item [routerLink]="['/app/chat']">
        <mat-icon>chat_bubble</mat-icon>
        <span>Message</span>
      </button>
      <button mat-menu-item (click)="addFriend(data().profile.did)">
        <mat-icon>person_add</mat-icon>
        <span>Add Friend ({{ data().did }})</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item [routerLink]="['edit']">
        <mat-icon>edit</mat-icon>
        <span>Edit Profile</span>
      </button>
      <mat-divider></mat-divider>
      <button (click)="copyDID(data().profile.did)" mat-menu-item>
        <mat-icon>content_copy</mat-icon>
        <span>Copy DID</span>
      </button>
      <button (click)="showQR(data().profile.did)" mat-menu-item>
        <mat-icon>qr_code</mat-icon>
        <span>Show QR</span>
      </button>
      <button (click)="shareProfile(data().profile.did)" mat-menu-item>
        <mat-icon>send</mat-icon>
        <span>Share Profile</span>
      </button>
      <mat-divider></mat-divider>
      <button disabled="true" mat-menu-item>
        <mat-icon>block</mat-icon>
        <span>Block</span>
      </button>
    </mat-menu>
  </div>
</div>
<div class="profile-content">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">badge</mat-icon>
        About
      </ng-template>

      <div class="about-tab-container">
        <div class="profile-items">
          <mat-icon>event</mat-icon><span>{{ data().profile.birthDate }}</span> <mat-icon>place</mat-icon
          ><span>{{ data().profilelocation }}</span> <mat-icon>event</mat-icon><span>{{ data().profile.status }}</span>
          <mat-icon>link</mat-icon><span>{{ data().profile.links }}</span>
        </div>

        <div class="profile-bio">
          {{ profileService.selected().bio }}
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">diversity_2</mat-icon>
        Communities
      </ng-template>
      Not implemented yet.
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">folder_shared</mat-icon>
        Data
      </ng-template>

      Not implemented yet.
    </mat-tab>
  </mat-tab-group>
</div>
} @else {
<mat-spinner></mat-spinner>
}
