@if (data()) {
<div class="profile-header">
  @if (data().avatar) {
  <img
    class="profile-header-icon"
    [src]="data().avatar | safeResourceUrl"
    onerror="this.src='/avatar-placeholder.png';this.onerror='';"
  />
  } @else {
  <img class="profile-header-icon" src="/avatar-placeholder.png" />
  }

  <div class="profile-header-text">
    <h1>
      {{ data().profile.name }}
      @if(data().profile.title) {
      <span>({{ data().profile.title }})</span>
      }
    </h1>
    <span class="ellipsis">{{ data().did }}</span>
  </div>
  <div class="spacer"></div>
  <div class="profile-header-menu">
    <button mat-icon-button [matMenuTriggerFor]="menuProfile">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menuProfile="matMenu">
      <button mat-menu-item [routerLink]="['/app', 'chat', data().did]">
        <mat-icon>chat_bubble</mat-icon>
        <span>Message</span>
      </button>
      <button mat-menu-item (click)="addFriend(data().did)">
        <mat-icon>person_add</mat-icon>
        <span>Add Friend</span>
      </button>
      @if (data().did === this.identity.did) {
      <mat-divider></mat-divider>
      <button mat-menu-item [routerLink]="['edit']">
        <mat-icon>edit</mat-icon>
        <span>Edit Profile</span>
      </button>
      }
      <mat-divider></mat-divider>
      <button (click)="copyDID(data().did)" mat-menu-item>
        <mat-icon>content_copy</mat-icon>
        <span>Copy DID</span>
      </button>
      <button (click)="showQR(data().did)" mat-menu-item>
        <mat-icon>qr_code</mat-icon>
        <span>Show QR</span>
      </button>
      <button (click)="shareProfile(data())" mat-menu-item>
        <mat-icon>send</mat-icon>
        <span>Share Profile</span>
      </button>
      <mat-divider></mat-divider>
      <button [disabled]="identity.did == data().did" mat-menu-item (click)="block(data().did)">
        <mat-icon>block</mat-icon>
        <span>Block</span>
      </button>
    </mat-menu>
  </div>
</div>
<div class="profile-content">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">notes</mat-icon>
        <span class="hide-small">Posts</span>
      </ng-template>

      <mat-card class="toolbar-actions margin">
        <mat-card-content>
          <button type="button" mat-button (click)="newPost()">
            <mat-icon>chat</mat-icon>
            Post
          </button>
          <button type="button" mat-button [disabled]="true">
            <mat-icon>photo_library</mat-icon>
            Media
          </button>
          <button type="button" mat-button [disabled]="true">
            <mat-icon>attach_file</mat-icon>
            File
          </button>
        </mat-card-content>
      </mat-card>

      <div class="posts-items margin">
        @for (entry of posts(); track entry) {
        <!-- @let open = false; -->

        <mat-card class="margin-bottom">
          <!-- @if (entry.data.title){
          <mat-card-title (click)="editPost(entry)">{{ entry.data.title }}</mat-card-title>
          } -->
          <mat-card-header>
            <div class="posts-header">
              <app-profile-header [did]="entry.record.creator"></app-profile-header>
              <button mat-icon-button matTooltip="Options" [matMenuTriggerFor]="menuActions">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menuActions="matMenu">
                <button mat-menu-item (click)="editPost(entry)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit post</span>
                </button>
                <button mat-menu-item [routerLink]="['/profile', entry.record.creator, 'posts', entry.record.id]">
                  <mat-icon>note</mat-icon>
                  <span>View post</span>
                </button>
                <button (click)="copyUrl(entry)" mat-menu-item>
                  <mat-icon>content_copy</mat-icon>
                  <span>Copy URL</span>
                </button>
                <!-- <button mat-menu-item (click)="copyNote(entry)">
            <mat-icon>file_copy</mat-icon>
            <span>Make a copy</span>
          </button> -->
                <mat-divider></mat-divider>
                <button mat-menu-item (click)="deletePost(entry)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete post</span>
                </button>
              </mat-menu>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div class="post-info">
              <a class="link" [routerLink]="['/profile', entry.record.creator, 'posts', entry.record.id]">{{
                entry.record.dateCreated | ago
              }}</a>
            </div>
            <div class="post-body">{{ entry.data.body }}</div></mat-card-content
          >
        </mat-card>
        }
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">badge</mat-icon>
        <span class="hide-small">About</span>
      </ng-template>

      <div class="about-tab-container">
        <div class="profile-items">
          @if (data().profile.birthDate) {
          <mat-icon>event</mat-icon><span>{{ data().profile.birthDate }}</span>
          } @if (data().profile.location) {
          <mat-icon>place</mat-icon><span>{{ data().profile.location }}</span>
          } @if (data().profile.status) {
          <mat-icon>event</mat-icon><span>{{ data().profile.status }}</span>
          } @if (data().profile.links && data().profile.links.length > 0) {
          <mat-icon>link</mat-icon><span>{{ data().profile.links }}</span>
          }
        </div>

        @if (data().profile.bio) {
        <div class="profile-bio">
          {{ data().profile.bio }}
        </div>
        }

        <!-- 
        Example of how to use a popover, new HTML feature:
        
        <button popovertarget="my-popover">Open popover</button>
        <div id="my-popover" popover>
          <p>I'm full of information</p>
        </div> -->
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">diversity_2</mat-icon>
        <span class="hide-small">Communities</span>
      </ng-template>
      Not implemented yet.
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">folder_shared</mat-icon>
        <span class="hide-small">Data</span>
      </ng-template>

      Not implemented yet.
    </mat-tab>
  </mat-tab-group>
</div>
} @else {
<mat-spinner></mat-spinner>
}
