<h1>Ariton Management Portal</h1>

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">source</mat-icon>
      <span class="hide-small">Communities</span>
    </ng-template>

    <mat-card class="toolbar-actions">
      <mat-card-content>
        <button type="button" mat-button>
          <mat-icon>chat</mat-icon>
          Post
        </button>
        <button type="button" mat-button>
          <mat-icon>event</mat-icon>
          Event
        </button>
        <button type="button" mat-button>
          <mat-icon>photo_library</mat-icon>
          Media
        </button>
        <button type="button" mat-button>
          <mat-icon>attach_file</mat-icon>
          File
        </button>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">source</mat-icon>
      <span class="hide-small">Apps</span>
    </ng-template>

    <mat-card class="toolbar-actions">
      <mat-card-content>
        <button type="button" mat-button>
          <mat-icon>chat</mat-icon>
          Post
        </button>
        <button type="button" mat-button>
          <mat-icon>event</mat-icon>
          Event
        </button>
        <button type="button" mat-button>
          <mat-icon>photo_library</mat-icon>
          Media
        </button>
        <button type="button" mat-button>
          <mat-icon>attach_file</mat-icon>
          File
        </button>
      </mat-card-content>
    </mat-card>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">source</mat-icon>
      <span class="hide-small">Registries</span>
    </ng-template>

    <mat-card class="toolbar-actions">
      <mat-card-content>
        <button type="button" mat-button>
          <mat-icon>chat</mat-icon>
          Post
        </button>
        <button type="button" mat-button>
          <mat-icon>event</mat-icon>
          Event
        </button>
        <button type="button" mat-button>
          <mat-icon>photo_library</mat-icon>
          Media
        </button>
        <button type="button" mat-button>
          <mat-icon>attach_file</mat-icon>
          File
        </button>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
