<div class="notes">
  <div class="notes-top">
    <mat-chip-listbox [multiple]="true" [(ngModel)]="selectedTags">
      @for (tag of labels(); track tag) {
      <mat-chip-option (click)="onSelectionChange($event)" [value]="tag">{{ tag }}</mat-chip-option>
      }
    </mat-chip-listbox>
  </div>
  <div class="notes-items">
    @for (entry of records(); track entry) {
    <mat-card class="marketplace-category" [ngStyle]="{ backgroundColor: entry.data.background }">
      @if (entry.data.title){
      <mat-card-title (click)="editNote(entry)">{{ entry.data.title }}</mat-card-title>
      }
      <mat-card-content class="note-body" (click)="editNote(entry)">{{ entry.data.body }}</mat-card-content>
      <mat-card-footer>
        <button mat-icon-button matTooltip="Collaborator">
          <mat-icon>person_add_alt</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Background" (click)="fileColor.click()">
          <mat-icon>palette</mat-icon>
        </button>
        <input class="color-picker" #fileColor (change)="onColorChange($event, entry)" type="color" />
        <button mat-icon-button matTooltip="Labels">
          <mat-icon>new_label</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Options" [matMenuTriggerFor]="menuActions">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menuActions="matMenu">
          <button mat-menu-item (click)="deleteNote(entry)">
            <mat-icon>delete</mat-icon>
            <span>Delete note</span>
          </button>
          <button mat-menu-item (click)="copyNote(entry)">
            <mat-icon>file_copy</mat-icon>
            <span>Make a copy</span>
          </button>
        </mat-menu>
      </mat-card-footer>
    </mat-card>
    }
  </div>
</div>
