:host {
  //   display: flex;
  //   flex-direction: column;
  background-color: yellow;
  padding-bottom: 100px;
}

.notes {
  height: 100%;
}

.note-body {
  white-space: pre-wrap;
}

.notes-top {
  margin-bottom: 1em;
}

.notes-items {
}

.large-icon {
  transform: scale(2);
}

.marketplace-category {
  display: inline-block;
  padding: 12px 16px;
  margin-right: 1em;
  margin-bottom: 1em;
  max-width: 210px;
  font-size: 0.9em;
}

mat-card-content {
  cursor: pointer;
  padding: 0 !important;
  margin-bottom: 0.4em;
}

mat-card-title {
  cursor: pointer;
}

mat-card-footer {
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  display: block;
}

.color-picker {
  width: 0px;
  height: 1px;
  color: transparent;
  background: transparent;
  border: 1px solid transparent;
}
