.container {
  width: 400px;
  max-width: 100%;
  margin-right: 1em;
  display: inline-block;
  vertical-align: top;
}

.list {
  border: solid 1px #ccc;
  min-height: 60px;
  border-radius: 4px;
  display: block;
  overflow: hidden;
}

.list-item {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  box-sizing: border-box;
  cursor: move;
  // background: white;
  background-color: rgba($color: #000000, $alpha: 0.5);
  font-size: 14px;
  display: flex;
  align-items: center;
}

.list-header {
  display: flex;
  align-items: center;
}

.strikeout {
  text-decoration: line-through;
}

.list-item:last-child {
  border: none;
}

/* Highlight the list item that is being dragged. */
.cdk-drag-preview {
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.todo-list {
  margin-bottom: 1em;
  border: 1px solid silver;
  padding: 1em;
  box-sizing: border-box;
  cursor: pointer;
}

.todo-list:hover {
  border: 1px solid gray;
}
