<mat-card class="toolbar-actions margin-bottom">
  <mat-card-content>
    <h1>Notifications</h1>
    <button type="button" mat-button>
      <mat-icon>check</mat-icon>
      <span>Mark all as read</span>
    </button>
    <button type="button" mat-button>
      <mat-icon>settings</mat-icon>
      <span>Notification Settings</span>
    </button>
  </mat-card-content>
</mat-card>

<mat-card class="notifications-card">
  <mat-card-header>
    <!-- <mat-card-title class="notifications-title"
      >Notifications

      <span class="spacer"></span>

      <button class="right" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>check</mat-icon>
          <span>Mark all as read</span>
        </button>
        <button mat-menu-item [disabled]="true">
          <mat-icon>settings</mat-icon>
          <span>Notification Settings</span>
        </button>
      </mat-menu>
    </mat-card-title> -->
  </mat-card-header>
  <mat-card-content>
    @for(notification of notifications(); track notification) {
    <mat-card class="card-notification" appearance="outlined">
      <mat-card-header>
        <mat-icon class="card-icon" inline="true" mat-card-avatar>{{ notification.data.icon }}</mat-icon>
        <mat-card-title>{{ notification.data.title }}</mat-card-title>
        <mat-card-subtitle>{{ notification.data.app }} ({{ '2024-08-22 12:00' | ago }})</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        @if (notification.data.app === 'Friends') {
        <app-profile-card [did]="notification.record.author">
          <button mat-flat-button>CONFIRM</button>
          <button mat-button>DELETE</button>
          <!-- <ng-container *ngIf="request.direction == 'out'">
          <button mat-flat-button [disabled]="true">PENDING</button>
          <button mat-button (click)="reject('did:dht:my6nm5s1n9xmuuh5yixe668k7xbkmmuddzatn1fojzgdg5f5to8y')">
            DELETE
          </button>
        </ng-container>
        <ng-container *ngIf="request.direction != 'out'">
          <button mat-flat-button (click)="accept('did:dht:my6nm5s1n9xmuuh5yixe668k7xbkmmuddzatn1fojzgdg5f5to8y')">
            CONFIRM
          </button>
          <button mat-button (click)="reject('did:dht:my6nm5s1n9xmuuh5yixe668k7xbkmmuddzatn1fojzgdg5f5to8y')">
            DELETE
          </button>
        </ng-container> -->
        </app-profile-card>
        }

        <!-- <span>{{ notification.data.title }}</span> -->
        <!-- <div class="notification-details dimmed">{{ notification.data.app }} ({{ '2024-08-22 12:00' | ago }})</div> -->
      </mat-card-content>
    </mat-card>
    }
  </mat-card-content>
</mat-card>

<p>TODO: This notification should use the modern support for browser vendor based infrastructure for notifications.</p>

<button mat-flat-button (click)="generateNotification()">Create a sample notification</button>
&nbsp;
<button mat-flat-button (click)="enableNotifications()">Enable Device Notifications</button>
&nbsp;
<button mat-flat-button (click)="disableNotifications()">Disable Device Notifications</button>
&nbsp;
<button mat-flat-button (click)="sendNotification('Welcome to Ariton!')">Trigger notification</button>
