<h1>Register Protocol Handler</h1>

<p class="handler-actions">
    <button class="signup-button" mat-flat-button color="primary" (click)="registerHandler('web+ariton', 'data')">Enable Ariton Link Protocol</button>
</p>

<mat-card class="card-info">
    <p class="handler-actions">If you click the X on the request or block it, the request will never be displayed again until you manually unblock.</p>
    <p class="handler-actions selectable">chrome://settings/content/handlers</p>
    <p class="handler-actions">
        Copy the link manually and open it in your browser.
        <br />
        <!-- TODO: Make this link work cross-browsers. -->
    </p>
</mat-card>
