.community-illustration {
    max-width: 256px;
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

h1 {
    clear: both;
}

button {
    margin-right: 1em;
    margin-bottom: 1em;
}

mat-divider {
    margin-top: 3em;
    margin-bottom: 3em;
}
