<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">chat</mat-icon>
      <span class="hide-small">Discussions</span>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">group</mat-icon>
      <span class="hide-small">Members</span>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">event</mat-icon>
      <span class="hide-small">Events</span>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">photo_library</mat-icon>
      <span class="hide-small">Media</span>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">attach_file</mat-icon>
      <span class="hide-small">Files</span>
    </ng-template>
  </mat-tab>
</mat-tab-group>
