@if (!appService.initialized()){
<div class="loading-container">
  <img class="loading-logo" src="ariton-icon-dark.svg" />

  @switch (appService.onboardingState()) { @case (0) {
  <p>Initializing Ariton...</p>
  } @case (1) {

  <div class="new-user-actions">
    @if(restore()) {
    <button [disabled]="appService.loading()" mat-button (click)="back()">Back</button>
    } @else {
    <button [disabled]="appService.loading()" mat-flat-button (click)="createAccount()">Create a new account</button>
    <button [disabled]="true" mat-button (click)="restoreAccount()">Restore existing account</button>
    } @if(restore()) {
    <app-restore></app-restore>
    }
  </div>
  } @case(2) {
  <div class="unlock-container">
    <app-unlock></app-unlock>
    <p>Issues? <button mat-button (click)="forceClose()">Close loading sceen</button></p>
  </div>
  } @case(3) {
  <div class="loading-container">
    <img class="loading-logo" src="ariton-icon-dark.svg" />
    <div>Initializing... please wait...</div>
  </div>
  } @case(4) {
  <div class="loading-error">
    <h1>Error during initialization. Offline?</h1>
    <p>You must be online to create your account.<br />Please verify network connection and try again.</p>
    <p>
      <button mat-button (click)="reload()">Reload</button>
    </p>
  </div>
  } } @if(appService.loading()) {
  <mat-spinner></mat-spinner>
  }
  <p>Issues? <button mat-button (click)="forceClose()">Close loading sceen</button></p>
</div>

}
<app-layout>
  <router-outlet />
</app-layout>
