.unlock-container {
    background-color: var(--mat-app-background-color);
    color: var(--mat-app-text-color);
    padding: 2em;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
}